cfs entry for: _ui.fld
doc 0
  field 0
    name name
    type string
    value rfc8491.txt
  field 1
    name content
    type string
    value \
\
\
\
\
\
Internet Engineering Task Force (IETF)                       J. Tantsura\
Request for Comments: 8491                                  Apstra, Inc.\
Category: Standards Track                                    U. Chunduri\
ISSN: 2070-1721                                      Huawei Technologies\
                                                               S. Aldrin\
                                                            Google, Inc.\
                                                             L. Ginsberg\
                                                           Cisco Systems\
                                                           November 2018\
\
\
             Signaling Maximum SID Depth (MSD) Using IS-IS\
\
Abstract\
\
   This document defines a way for an Intermediate System to\
   Intermediate System (IS-IS) router to advertise multiple types of\
   supported Maximum SID Depths (MSDs) at node and/or link granularity.\
   Such advertisements allow entities (e.g., centralized controllers) to\
   determine whether a particular Segment ID (SID) stack can be\
   supported in a given network.  This document only defines one type of\
   MSD: Base MPLS Imposition.  However, it defines an encoding that can\
   support other MSD types.  This document focuses on MSD use in a\
   network that is Segment Routing (SR) enabled, but MSD may also be\
   useful when SR is not enabled.\
\
Status of This Memo\
\
   This is an Internet Standards Track document.\
\
   This document is a product of the Internet Engineering Task Force\
   (IETF).  It represents the consensus of the IETF community.  It has\
   received public review and has been approved for publication by the\
   Internet Engineering Steering Group (IESG).  Further information on\
   Internet Standards is available in Section 2 of RFC 7841.\
\
   Information about the current status of this document, any errata,\
   and how to provide feedback on it may be obtained at\
   https://www.rfc-editor.org/info/rfc8491.\
\
\
\
\
\
\
\
\
\
\
\
\
Tantsura, et al.             Standards Track                    [Page 1]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
Copyright Notice\
\
   Copyright (c) 2018 IETF Trust and the persons identified as the\
   document authors.  All rights reserved.\
\
   This document is subject to BCP 78 and the IETF Trust's Legal\
   Provisions Relating to IETF Documents\
   (https://trustee.ietf.org/license-info) in effect on the date of\
   publication of this document.  Please review these documents\
   carefully, as they describe your rights and restrictions with respect\
   to this document.  Code Components extracted from this document must\
   include Simplified BSD License text as described in Section 4.e of\
   the Trust Legal Provisions and are provided without warranty as\
   described in the Simplified BSD License.\
\
Table of Contents\
\
   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2\
     1.1.  Terminology . . . . . . . . . . . . . . . . . . . . . . .   3\
     1.2.  Requirements Language . . . . . . . . . . . . . . . . . .   4\
   2.  Node MSD Advertisement  . . . . . . . . . . . . . . . . . . .   4\
   3.  Link MSD Advertisement  . . . . . . . . . . . . . . . . . . .   5\
   4.  Procedures for Defining and Using Node and Link MSD\
       Advertisements  . . . . . . . . . . . . . . . . . . . . . . .   6\
   5.  Base MPLS Imposition MSD  . . . . . . . . . . . . . . . . . .   6\
   6.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .   7\
   7.  Security Considerations . . . . . . . . . . . . . . . . . . .   8\
   8.  References  . . . . . . . . . . . . . . . . . . . . . . . . .   8\
     8.1.  Normative References  . . . . . . . . . . . . . . . . . .   8\
     8.2.  Informative References  . . . . . . . . . . . . . . . . .   9\
   Acknowledgements  . . . . . . . . . . . . . . . . . . . . . . . .  10\
   Contributors  . . . . . . . . . . . . . . . . . . . . . . . . . .  10\
   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .  10\
\
1.  Introduction\
\
   When Segment Routing (SR) paths are computed by a centralized\
   controller, it is critical that the controller learn the Maximum SID\
   Depth (MSD) that can be imposed at each node/link of a given SR path.\
   This ensures that the Segment Identifier (SID) stack depth of a\
   computed path does not exceed the number of SIDs the node is capable\
   of imposing.\
\
   [PCEP-EXT] defines how to signal MSD in the Path Computation Element\
   Communication Protocol (PCEP).  However, if PCEP is not supported/\
   configured on the head-end of an SR tunnel or a Binding-SID anchor\
   node, and the controller does not participate in IGP routing, it has\
   no way of learning the MSD of nodes and links.  BGP-LS (Distribution\
\
\
\
Tantsura, et al.             Standards Track                    [Page 2]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
   of Link-State and TE Information Using Border Gateway Protocol)\
   [RFC7752] defines a way to expose topology and associated attributes\
   and capabilities of the nodes in that topology to a centralized\
   controller.  MSD signaling by BGP-LS has been defined in [MSD-BGP].\
   Typically, BGP-LS is configured on a small number of nodes that do\
   not necessarily act as head-ends.  In order for BGP-LS to signal MSD\
   for all the nodes and links in the network for which MSD is relevant,\
   MSD capabilities SHOULD be advertised by every Intermediate System to\
   Intermediate System (IS-IS) router in the network.\
\
   Other types of MSDs are known to be useful.  For example, [ELC-ISIS]\
   defines Entropy Readable Label Depth (ERLD), which is used by a head-\
   end to insert an Entropy Label (EL) at a depth where it can be read\
   by transit nodes.\
\
   This document defines an extension to IS-IS used to advertise one or\
   more types of MSDs at node and/or link granularity.  It also creates\
   an IANA registry for assigning MSD-Type identifiers and defines the\
   Base MPLS Imposition MSD-Type.  In the future, it is expected that\
   new MSD-Types will be defined to signal additional capabilities,\
   e.g., entropy labels, SIDs that can be imposed through recirculation,\
   or SIDs associated with another data plane such as IPv6.\
\
   MSD advertisements MAY be useful even if Segment Routing itself is\
   not enabled.  For example, in a non-SR MPLS network, MSD defines the\
   maximum label depth.\
\
1.1.  Terminology\
\
   BMI:  Base MPLS Imposition is the number of MPLS labels that can be\
         imposed inclusive of all service/transport/special labels.\
\
   MSD:  Maximum SID Depth is the number of SIDs supported by a node or\
         a link on a node.\
\
   SID:  Segment Identifier is defined in [RFC8402].\
\
   Label Imposition:  Imposition is the act of modifying and/or adding\
         labels to the outgoing label stack associated with a packet.\
         This includes:\
\
         *  replacing the label at the top of the label stack with a new\
            label\
\
         *  pushing one or more new labels onto the label stack\
\
\
\
\
\
\
Tantsura, et al.             Standards Track                    [Page 3]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
   The number of labels imposed is then the sum of the number of labels\
   that are replaced and the number of labels that are pushed.  See\
   [RFC3031] for further details.\
\
1.2.  Requirements Language\
\
   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",\
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and\
   "OPTIONAL" in this document are to be interpreted as described in\
   BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all\
   capitals, as shown here.\
\
2.  Node MSD Advertisement\
\
   The Node MSD sub-TLV is defined within the body of the IS-IS Router\
   CAPABILITY TLV [RFC7981] to carry the provisioned SID depth of the\
   router originating the IS-IS Router CAPABILITY TLV.  Node MSD is the\
   smallest MSD supported by the node on the set of interfaces\
   configured for use by the advertising IGP instance.  MSD values may\
   be learned via a hardware API or may be provisioned.\
\
                         0                   1\
                         0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5\
\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
                        |    Type       |   Length      |\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
                        |   MSD-Type    | MSD-Value     |\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
                        //     ...................     //\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
                        |   MSD-Type    | MSD-Value     |\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
\
                        Figure 1: Node MSD Sub-TLV\
\
   Type: 23\
\
   Length: variable (multiple of 2 octets); represents the total length\
   of the Value field\
\
   Value: field consists of one or more pairs of a 1-octet MSD-Type and\
   1-octet MSD-Value\
\
   MSD-Type: value defined in the "IGP MSD-Types" registry created by\
   the IANA Considerations section of this document Section 6\
\
\
\
\
\
Tantsura, et al.             Standards Track                    [Page 4]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
   MSD-Value: number in the range of 0-255 (for all MSD-Types, 0\
   represents the lack of ability to support a SID stack of any depth;\
   any other value represents that of the node.  This value MUST\
   represent the lowest value supported by any link configured for use\
   by the advertising IS-IS instance.)\
\
   This sub-TLV is optional.  The scope of the advertisement is specific\
   to the deployment.\
\
   If there exist multiple Node MSD advertisements for the same MSD-Type\
   originated by the same router, the procedures defined in [RFC7981]\
   apply.  These procedures may result in different MSD values being\
   used, for example, by different controllers.  This does not, however,\
   create any interoperability issue.\
\
3.  Link MSD Advertisement\
\
   The Link MSD sub-TLV is defined for TLVs 22, 23, 25, 141, 222, and\
   223 to carry the MSD of the interface associated with the link.  MSD\
   values may be signaled by the forwarding plane or may be provisioned.\
\
                        0                   1\
                        0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5\
\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
                        |    Type       |   Length      |\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
                        |   MSD-Type    | MSD-Value     |\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
                        //     ...................     //\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
                        |   MSD-Type    | MSD-Value     |\
                        +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\
\
                        Figure 2: Link MSD Sub-TLV\
\
   Type: 15\
\
   Length: variable (multiple of 2 octets); represents the total length\
   of the Value field\
\
   Value: field consists of one or more pairs of a 1-octet MSD-Type and\
   1-octet MSD-Value\
\
   MSD-Type: value defined in the "IGP MSD-Types" registry created by\
   the IANA Considerations section of this document Section 6\
\
\
\
\
\
Tantsura, et al.             Standards Track                    [Page 5]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
   MSD-Value: number in the range of 0-255 (for all MSD-Types, 0\
   represents the lack of ability to support a SID stack of any depth;\
   any other value represents that of the particular link when used as\
   an outgoing interface.)\
\
   This sub-TLV is optional.\
\
   If multiple Link MSD advertisements for the same MSD-Type and the\
   same link are received, the procedure to select which copy to use is\
   undefined.\
\
   If the advertising router performs label imposition in the context of\
   the ingress interface, it is not possible to meaningfully advertise\
   per-link values.  In such a case, only the Node MSD SHOULD be\
   advertised.\
\
4.  Procedures for Defining and Using Node and Link MSD Advertisements\
\
   When Link MSD is present for a given MSD-Type, the value of the Link\
   MSD MUST take precedence over the Node MSD.  If a Link MSD-Type is\
   not signaled, but the Node MSD-Type is, then the Node MSD-Type value\
   MUST be considered to be the MSD value for that link.\
\
   In order to increase flooding efficiency, it is RECOMMENDED that\
   routers with homogenous Link MSD values advertise just the Node MSD\
   value.\
\
   The meaning of the absence of both Node and Link MSD advertisements\
   for a given MSD-Type is specific to the MSD-Type.  Generally, it can\
   only be inferred that the advertising node does not support\
   advertisement of that MSD-Type.  In some cases, however, the lack of\
   advertisement might imply that the functionality associated with the\
   MSD-Type is not supported.  The correct interpretation MUST be\
   specified when an MSD-Type is defined.\
\
5.  Base MPLS Imposition MSD\
\
   Base MPLS Imposition MSD (BMI-MSD) signals the total number of MPLS\
   labels that can be imposed, including all service/transport/special\
   labels.\
\
   The absence of BMI-MSD advertisements indicates only that the\
   advertising node does not support advertisement of this capability.\
\
\
\
\
\
\
\
\
Tantsura, et al.             Standards Track                    [Page 6]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
6.  IANA Considerations\
\
   IANA has allocated a sub-TLV type for the new sub-TLV proposed in\
   Section 2 of this document from the "Sub-TLVs for TLV 242 (IS-IS\
   Router CAPABILITY TLV)" registry as defined by [RFC7981].\
\
   IANA has allocated the following value:\
\
      Value     Description                      Reference\
      -----     ---------------                  -------------\
      23        Node MSD                         This document\
\
                            Figure 3: Node MSD\
\
   IANA has allocated a sub-TLV type as defined in Section 3 from the\
   "Sub-TLVs for TLVs 22, 23, 25, 141, 222, and 223 (Extended IS\
   reachability, IS Neighbor Attribute, L2 Bundle Member Attributes,\
   inter-AS reachability information, MT-ISN, and MT IS Neighbor\
   Attribute TLVs)" registry.\
\
   IANA has allocated the following value:\
\
      Value     Description                      Reference\
      -----     ---------------                  -------------\
      15        Link MSD                         This document\
\
                            Figure 4: Link MSD\
\
   Per-TLV information where Link MSD sub-TLV can be part of:\
\
      TLV  22 23 25 141 222 223\
      ---  --------------------\
           y  y  y   y   y   y\
\
      Figure 5: TLVs Where LINK MSD Sub-TLV Can Be Present\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
\
Tantsura, et al.             Standards Track                    [Page 7]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
   IANA has created an IANA-managed registry titled "IGP MSD-Types"\
   under the "Interior Gateway Protocol (IGP) Parameters" registry to\
   identify MSD-Types as proposed in Sections 2 and 3.  The registration\
   procedure is "Expert Review" as defined in [RFC8126].  Types are an\
   unsigned 8-bit number.  The following values are defined by this\
   document:\
\
      Value     Name                             Reference\
      -----     ---------------------            -------------\
      0         Reserved                         This document\
      1         Base MPLS Imposition MSD         This document\
      2-250     Unassigned\
      251-254   Experimental Use                 This document\
      255       Reserved                         This document\
\
                  Figure 6: MSD-Types Codepoints Registry\
\
   General guidance for the designated experts is defined in [RFC7370].\
\
7.  Security Considerations\
\
   Security considerations as specified by [RFC7981] are applicable to\
   this document.\
\
   The advertisement of an incorrect MSD value may have negative\
   consequences.  If the value is smaller than supported, path\
   computation may fail to compute a viable path.  If the value is\
   larger than supported, an attempt to instantiate a path that can't be\
   supported by the head-end (the node performing the SID imposition)\
   may occur.\
\
   The presence of this information may also inform an attacker of how\
   to induce any of the aforementioned conditions.\
\
8.  References\
\
8.1.  Normative References\
\
   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate\
              Requirement Levels", BCP 14, RFC 2119,\
              DOI 10.17487/RFC2119, March 1997,\
              <https://www.rfc-editor.org/info/rfc2119>.\
\
   [RFC3031]  Rosen, E., Viswanathan, A., and R. Callon, "Multiprotocol\
              Label Switching Architecture", RFC 3031,\
              DOI 10.17487/RFC3031, January 2001,\
              <https://www.rfc-editor.org/info/rfc3031>.\
\
\
\
\
Tantsura, et al.             Standards Track                    [Page 8]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
   [RFC7370]  Ginsberg, L., "Updates to the IS-IS TLV Codepoints\
              Registry", RFC 7370, DOI 10.17487/RFC7370, September 2014,\
              <https://www.rfc-editor.org/info/rfc7370>.\
\
   [RFC7981]  Ginsberg, L., Previdi, S., and M. Chen, "IS-IS Extensions\
              for Advertising Router Information", RFC 7981,\
              DOI 10.17487/RFC7981, October 2016,\
              <https://www.rfc-editor.org/info/rfc7981>.\
\
   [RFC8126]  Cotton, M., Leiba, B., and T. Narten, "Guidelines for\
              Writing an IANA Considerations Section in RFCs", BCP 26,\
              RFC 8126, DOI 10.17487/RFC8126, June 2017,\
              <https://www.rfc-editor.org/info/rfc8126>.\
\
   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC\
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,\
              May 2017, <https://www.rfc-editor.org/info/rfc8174>.\
\
   [RFC8402]  Filsfils, C., Ed., Previdi, S., Ed., Ginsberg, L.,\
              Decraene, B., Litkowski, S., and R. Shakir, "Segment\
              Routing Architecture", RFC 8402, DOI 10.17487/RFC8402,\
              July 2018, <https://www.rfc-editor.org/info/rfc8402>.\
\
8.2.  Informative References\
\
   [ELC-ISIS] Xu, X., Kini, S., Sivabalan, S., Filsfils, C., and S.\
              Litkowski, "Signaling Entropy Label Capability and Entropy\
              Readable Label Depth Using IS-IS", Work in Progress,\
              draft-ietf-isis-mpls-elc-06, September 2018.\
\
   [MSD-BGP]  Tantsura, J., Chunduri, U., Mirsky, G., and S. Sivabalan,\
              "Signaling MSD (Maximum SID Depth) using Border Gateway\
              Protocol Link-State", Work in Progress, draft-ietf-idr-\
              bgp-ls-segment-routing-msd-02, August 2018.\
\
   [PCEP-EXT] Sivabalan, S., Filsfils, C., Tantsura, J., Henderickx, W.,\
              and J. Hardwick, "PCEP Extensions for Segment Routing",\
              Work in Progress, draft-ietf-pce-segment-routing-13,\
              October 2018.\
\
   [RFC7752]  Gredler, H., Ed., Medved, J., Previdi, S., Farrel, A., and\
              S. Ray, "North-Bound Distribution of Link-State and\
              Traffic Engineering (TE) Information Using BGP", RFC 7752,\
              DOI 10.17487/RFC7752, March 2016,\
              <https://www.rfc-editor.org/info/rfc7752>.\
\
\
\
\
\
\
Tantsura, et al.             Standards Track                    [Page 9]\
\
RFC 8491                Signaling MSD Using IS-IS          November 2018\
\
\
Acknowledgements\
\
   The authors would like to thank Acee Lindem, Ketan Talaulikar,\
   Stephane Litkowski, and Bruno Decraene for their reviews and valuable\
   comments.\
\
Contributors\
\
   The following people contributed to this document:\
\
   Peter Psenak\
\
   Email: ppsenak@cisco.com\
\
Authors' Addresses\
\
   Jeff Tantsura\
   Apstra, Inc.\
\
   Email: jefftant.ietf@gmail.com\
\
\
   Uma Chunduri\
   Huawei Technologies\
\
   Email: uma.chunduri@huawei.com\
\
\
   Sam Aldrin\
   Google, Inc.\
\
   Email: aldrin.ietf@gmail.com\
\
\
   Les Ginsberg\
   Cisco Systems\
\
   Email: ginsberg@cisco.com\
\
\
\
\
\
\
\
\
\
\
\
\
\
Tantsura, et al.             Standards Track                   [Page 10]\
\

END
checksum 00000000000650651513
cfs entry for: _ui.inf
number of fields 2
  name name
  number 0
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  name content
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000001132502587
cfs entry for: _ui.len
field name
  type NUMERIC
  minvalue 2
  pattern 0
0
T
field content
  type NUMERIC
  minvalue 98
  pattern 0
0
T
END
checksum 00000000001358038655
cfs entry for: _ui.pst
field content
  term "Ambiguity
    doc 0
      freq 1
      pos 2518
  term "Expert
    doc 0
      freq 1
      pos 2239
  term "Guidelines
    doc 0
      freq 1
      pos 2497
  term "IGP
    doc 0
      freq 3
      pos 1432
      pos 1696
      pos 2215
  term "IS-IS
    doc 0
      freq 1
      pos 2476
  term "Interior
    doc 0
      freq 1
      pos 2219
  term "Key
    doc 0
      freq 1
      pos 2398
  term "MAY",
    doc 0
      freq 1
      pos 1250
  term "MUST
    doc 0
      freq 1
      pos 1238
  term "MUST",
    doc 0
      freq 1
      pos 1237
  term "Multiprotocol
    doc 0
      freq 1
      pos 2425
  term "NOT
    doc 0
      freq 1
      pos 1248
  term "North-Bound
    doc 0
      freq 1
      pos 2658
  term "OPTIONAL"
    doc 0
      freq 1
      pos 1252
  term "PCEP
    doc 0
      freq 1
      pos 2634
  term "RECOMMENDED",
    doc 0
      freq 1
      pos 1247
  term "REQUIRED",
    doc 0
      freq 1
      pos 1240
  term "SHALL
    doc 0
      freq 1
      pos 1242
  term "SHALL",
    doc 0
      freq 1
      pos 1241
  term "SHOULD
    doc 0
      freq 1
      pos 1245
  term "SHOULD",
    doc 0
      freq 1
      pos 1244
  term "Segment
    doc 0
      freq 1
      pos 2553
  term "Signaling
    doc 0
      freq 2
      pos 2578
      pos 2605
  term "Sub-TLVs
    doc 0
      freq 2
      pos 2059
      pos 2106
  term "Updates
    doc 0
      freq 1
      pos 2454
  term (BMI-MSD)
    doc 0
      freq 1
      pos 1988
  term (Distribution
    doc 0
      freq 1
      pos 838
  term (EL)
    doc 0
      freq 1
      pos 979
  term (ERLD),
    doc 0
      freq 1
      pos 966
  term (Extended
    doc 0
      freq 1
      pos 2116
  term (IESG).
    doc 0
      freq 1
      pos 188
  term (IETF)
    doc 0
      freq 1
      pos 4
  term (IETF).
    doc 0
      freq 1
      pos 162
  term (IGP)
    doc 0
      freq 1
      pos 2222
  term (IS-IS
    doc 0
      freq 1
      pos 2063
  term (IS-IS)
    doc 0
      freq 2
      pos 52
      pos 944
  term (MSD)
    doc 0
      freq 2
      pos 36
      pos 744
  term (MSDs)
    doc 0
      freq 1
      pos 63
  term (Maximum
    doc 0
      freq 1
      pos 2607
  term (PCEP).
    doc 0
      freq 1
      pos 796
  term (SID)
    doc 0
      freq 2
      pos 83
      pos 763
  term (SR)
    doc 0
      freq 2
      pos 127
      pos 725
  term (TE)
    doc 0
      freq 1
      pos 2665
  term (c)
    doc 0
      freq 1
      pos 242
  term (e.g.,
    doc 0
      freq 1
      pos 73
  term (for
    doc 0
      freq 2
      pos 1468
      pos 1732
  term (https://trustee.ietf.org/license-info)
    doc 0
      freq 1
      pos 274
  term (multiple
    doc 0
      freq 2
      pos 1400
      pos 1664
  term (the
    doc 0
      freq 1
      pos 2363
  term *
    doc 0
      freq 2
      pos 1160
      pos 1175
  term +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
    doc 0
      freq 10
      pos 1368
      pos 1374
      pos 1380
      pos 1384
      pos 1390
      pos 1632
      pos 1638
      pos 1644
      pos 1648
      pos 1654
  term ---
    doc 0
      freq 1
      pos 2175
  term -----
    doc 0
      freq 3
      pos 2081
      pos 2146
      pos 2262
  term -------------
    doc 0
      freq 3
      pos 2083
      pos 2148
      pos 2264
  term ---------------
    doc 0
      freq 2
      pos 2082
      pos 2147
  term --------------------
    doc 0
      freq 1
      pos 2176
  term ---------------------
    doc 0
      freq 1
      pos 2263
  term .
    doc 0
      freq 317
      pos 341
      pos 342
      pos 343
      pos 344
      pos 345
      pos 346
      pos 347
      pos 348
      pos 349
      pos 350
      pos 351
      pos 352
      pos 353
      pos 354
      pos 355
      pos 356
      pos 357
      pos 358
      pos 359
      pos 360
      pos 361
      pos 362
      pos 363
      pos 364
      pos 368
      pos 369
      pos 370
      pos 371
      pos 372
      pos 373
      pos 374
      pos 375
      pos 376
      pos 377
      pos 378
      pos 379
      pos 380
      pos 381
      pos 382
      pos 383
      pos 384
      pos 385
      pos 386
      pos 387
      pos 388
      pos 389
      pos 390
      pos 395
      pos 396
      pos 397
      pos 398
      pos 399
      pos 400
      pos 401
      pos 402
      pos 403
      pos 404
      pos 405
      pos 406
      pos 407
      pos 408
      pos 409
      pos 410
      pos 411
      pos 412
      pos 418
      pos 419
      pos 420
      pos 421
      pos 422
      pos 423
      pos 424
      pos 425
      pos 426
      pos 427
      pos 428
      pos 429
      pos 430
      pos 431
      pos 432
      pos 433
      pos 434
      pos 435
      pos 436
      pos 442
      pos 443
      pos 444
      pos 445
      pos 446
      pos 447
      pos 448
      pos 449
      pos 450
      pos 451
      pos 452
      pos 453
      pos 454
      pos 455
      pos 456
      pos 457
      pos 458
      pos 459
      pos 460
      pos 473
      pos 474
      pos 475
      pos 476
      pos 477
      pos 478
      pos 479
      pos 480
      pos 481
      pos 482
      pos 483
      pos 484
      pos 485
      pos 486
      pos 487
      pos 488
      pos 489
      pos 490
      pos 491
      pos 492
      pos 493
      pos 494
      pos 495
      pos 502
      pos 503
      pos 504
      pos 505
      pos 506
      pos 507
      pos 508
      pos 509
      pos 510
      pos 511
      pos 512
      pos 513
      pos 514
      pos 515
      pos 516
      pos 517
      pos 518
      pos 519
      pos 524
      pos 525
      pos 526
      pos 527
      pos 528
      pos 529
      pos 530
      pos 531
      pos 532
      pos 533
      pos 534
      pos 535
      pos 536
      pos 537
      pos 538
      pos 539
      pos 540
      pos 541
      pos 542
      pos 543
      pos 544
      pos 549
      pos 550
      pos 551
      pos 552
      pos 553
      pos 554
      pos 555
      pos 556
      pos 557
      pos 558
      pos 559
      pos 560
      pos 561
      pos 562
      pos 563
      pos 564
      pos 565
      pos 566
      pos 567
      pos 571
      pos 572
      pos 573
      pos 574
      pos 575
      pos 576
      pos 577
      pos 578
      pos 579
      pos 580
      pos 581
      pos 582
      pos 583
      pos 584
      pos 585
      pos 586
      pos 587
      pos 588
      pos 589
      pos 590
      pos 591
      pos 592
      pos 593
      pos 594
      pos 595
      pos 600
      pos 601
      pos 602
      pos 603
      pos 604
      pos 605
      pos 606
      pos 607
      pos 608
      pos 609
      pos 610
      pos 611
      pos 612
      pos 613
      pos 614
      pos 615
      pos 616
      pos 617
      pos 622
      pos 623
      pos 624
      pos 625
      pos 626
      pos 627
      pos 628
      pos 629
      pos 630
      pos 631
      pos 632
      pos 633
      pos 634
      pos 635
      pos 636
      pos 637
      pos 638
      pos 641
      pos 642
      pos 643
      pos 644
      pos 645
      pos 646
      pos 647
      pos 648
      pos 649
      pos 650
      pos 651
      pos 652
      pos 653
      pos 654
      pos 655
      pos 656
      pos 657
      pos 658
      pos 659
      pos 660
      pos 661
      pos 662
      pos 663
      pos 664
      pos 667
      pos 668
      pos 669
      pos 670
      pos 671
      pos 672
      pos 673
      pos 674
      pos 675
      pos 676
      pos 677
      pos 678
      pos 679
      pos 680
      pos 681
      pos 682
      pos 683
      pos 684
      pos 685
      pos 686
      pos 687
      pos 688
      pos 689
      pos 690
      pos 691
      pos 692
      pos 696
      pos 697
      pos 698
      pos 699
      pos 700
      pos 701
      pos 702
      pos 703
      pos 704
      pos 705
      pos 706
      pos 707
      pos 708
      pos 709
      pos 710
      pos 711
      pos 712
      pos 713
      pos 714
      pos 715
      pos 716
      pos 717
      pos 718
  term ...................
    doc 0
      freq 2
      pos 1382
      pos 1646
  term //
    doc 0
      freq 4
      pos 1381
      pos 1383
      pos 1645
      pos 1647
  term 0
    doc 0
      freq 9
      pos 1350
      pos 1352
      pos 1362
      pos 1471
      pos 1614
      pos 1616
      pos 1626
      pos 1735
      pos 2265
  term 0-255
    doc 0
      freq 2
      pos 1467
      pos 1731
  term 1
    doc 0
      freq 7
      pos 1351
      pos 1353
      pos 1363
      pos 1615
      pos 1617
      pos 1627
      pos 2269
  term 1-octet
    doc 0
      freq 4
      pos 1422
      pos 1425
      pos 1686
      pos 1689
  term 1.
    doc 0
      freq 2
      pos 339
      pos 720
  term 1.1.
    doc 0
      freq 2
      pos 366
      pos 1091
  term 1.2.
    doc 0
      freq 2
      pos 392
      pos 1231
  term 10
    doc 0
      freq 3
      pos 665
      pos 693
      pos 719
  term 10.17487/RFC2119,
    doc 0
      freq 1
      pos 2413
  term 10.17487/RFC3031,
    doc 0
      freq 1
      pos 2432
  term 10.17487/RFC7370,
    doc 0
      freq 1
      pos 2464
  term 10.17487/RFC7752,
    doc 0
      freq 1
      pos 2672
  term 10.17487/RFC7981,
    doc 0
      freq 1
      pos 2485
  term 10.17487/RFC8126,
    doc 0
      freq 1
      pos 2511
  term 10.17487/RFC8174,
    doc 0
      freq 1
      pos 2533
  term 10.17487/RFC8402,
    doc 0
      freq 1
      pos 2559
  term 10]
    doc 0
      freq 1
      pos 2757
  term 14
    doc 0
      freq 1
      pos 1264
  term 14,
    doc 0
      freq 2
      pos 2409
      pos 2529
  term 141
    doc 0
      freq 1
      pos 2172
  term 141,
    doc 0
      freq 2
      pos 1586
      pos 2112
  term 15
    doc 0
      freq 2
      pos 1661
      pos 2149
  term 1997,
    doc 0
      freq 1
      pos 2415
  term 1:
    doc 0
      freq 1
      pos 1392
  term 1]
    doc 0
      freq 1
      pos 230
  term 2
    doc 0
      freq 10
      pos 198
      pos 365
      pos 1354
      pos 1364
      pos 1402
      pos 1618
      pos 1628
      pos 1666
      pos 2053
      pos 2232
  term 2-250
    doc 0
      freq 1
      pos 2276
  term 2.
    doc 0
      freq 2
      pos 414
      pos 1279
  term 2001,
    doc 0
      freq 1
      pos 2434
  term 2014,
    doc 0
      freq 1
      pos 2466
  term 2016,
    doc 0
      freq 2
      pos 2487
      pos 2674
  term 2017,
    doc 0
      freq 2
      pos 2513
      pos 2535
  term 2018
    doc 0
      freq 11
      pos 31
      pos 238
      pos 243
      pos 853
      pos 1200
      pos 1460
      pos 1724
      pos 2036
      pos 2207
      pos 2450
      pos 2690
  term 2018,
    doc 0
      freq 1
      pos 2561
  term 2018.
    doc 0
      freq 3
      pos 2594
      pos 2621
      pos 2644
  term 2070-1721
    doc 0
      freq 1
      pos 19
  term 2119
    doc 0
      freq 1
      pos 2525
  term 2119,
    doc 0
      freq 1
      pos 2411
  term 22
    doc 0
      freq 1
      pos 2169
  term 22,
    doc 0
      freq 2
      pos 1583
      pos 2109
  term 222
    doc 0
      freq 1
      pos 2173
  term 222,
    doc 0
      freq 2
      pos 1587
      pos 2113
  term 223
    doc 0
      freq 3
      pos 1589
      pos 2115
      pos 2174
  term 23
    doc 0
      freq 3
      pos 1397
      pos 2084
      pos 2170
  term 23,
    doc 0
      freq 2
      pos 1584
      pos 2110
  term 242
    doc 0
      freq 1
      pos 2062
  term 25
    doc 0
      freq 1
      pos 2171
  term 25,
    doc 0
      freq 2
      pos 1585
      pos 2111
  term 251-254
    doc 0
      freq 1
      pos 2278
  term 255
    doc 0
      freq 1
      pos 2283
  term 26,
    doc 0
      freq 1
      pos 2507
  term 2:
    doc 0
      freq 1
      pos 1656
  term 2]
    doc 0
      freq 1
      pos 845
  term 3
    doc 0
      freq 6
      pos 391
      pos 1355
      pos 1365
      pos 1619
      pos 1629
      pos 2103
  term 3.
    doc 0
      freq 3
      pos 438
      pos 1571
      pos 2234
  term 3031,
    doc 0
      freq 1
      pos 2430
  term 3:
    doc 0
      freq 1
      pos 2090
  term 3]
    doc 0
      freq 1
      pos 1192
  term 4
    doc 0
      freq 6
      pos 413
      pos 437
      pos 1356
      pos 1366
      pos 1620
      pos 1630
  term 4.
    doc 0
      freq 2
      pos 462
      pos 1827
  term 4.e
    doc 0
      freq 1
      pos 318
  term 4:
    doc 0
      freq 1
      pos 2155
  term 4]
    doc 0
      freq 1
      pos 1452
  term 5
    doc 0
      freq 5
      pos 461
      pos 1357
      pos 1367
      pos 1621
      pos 1631
  term 5.
    doc 0
      freq 2
      pos 497
      pos 1979
  term 5:
    doc 0
      freq 1
      pos 2184
  term 5]
    doc 0
      freq 1
      pos 1716
  term 6
    doc 0
      freq 6
      pos 496
      pos 520
      pos 1358
      pos 1445
      pos 1622
      pos 1709
  term 6.
    doc 0
      freq 2
      pos 521
      pos 2037
  term 6:
    doc 0
      freq 1
      pos 2288
  term 6]
    doc 0
      freq 1
      pos 2028
  term 7
    doc 0
      freq 3
      pos 545
      pos 1359
      pos 1623
  term 7.
    doc 0
      freq 2
      pos 546
      pos 2302
  term 7370,
    doc 0
      freq 1
      pos 2462
  term 7752,
    doc 0
      freq 1
      pos 2670
  term 78
    doc 0
      freq 1
      pos 263
  term 7841.
    doc 0
      freq 1
      pos 201
  term 7981,
    doc 0
      freq 1
      pos 2483
  term 7]
    doc 0
      freq 1
      pos 2199
  term 8
    doc 0
      freq 5
      pos 568
      pos 596
      pos 618
      pos 1360
      pos 1624
  term 8-bit
    doc 0
      freq 1
      pos 2249
  term 8.
    doc 0
      freq 2
      pos 569
      pos 2390
  term 8.1.
    doc 0
      freq 2
      pos 597
      pos 2392
  term 8.2.
    doc 0
      freq 2
      pos 619
      pos 2563
  term 8126,
    doc 0
      freq 1
      pos 2509
  term 8174,
    doc 0
      freq 1
      pos 2531
  term 8402,
    doc 0
      freq 1
      pos 2557
  term 8491
    doc 0
      freq 10
      pos 10
      pos 232
      pos 847
      pos 1194
      pos 1454
      pos 1718
      pos 2030
      pos 2201
      pos 2444
      pos 2684
  term 8]
    doc 0
      freq 1
      pos 2442
  term 9
    doc 0
      freq 3
      pos 639
      pos 1361
      pos 1625
  term 9]
    doc 0
      freq 1
      pos 2682
  term <https://www.rfc-editor.org/info/rfc2119>.
    doc 0
      freq 1
      pos 2416
  term <https://www.rfc-editor.org/info/rfc3031>.
    doc 0
      freq 1
      pos 2435
  term <https://www.rfc-editor.org/info/rfc7370>.
    doc 0
      freq 1
      pos 2467
  term <https://www.rfc-editor.org/info/rfc7752>.
    doc 0
      freq 1
      pos 2675
  term <https://www.rfc-editor.org/info/rfc7981>.
    doc 0
      freq 1
      pos 2488
  term <https://www.rfc-editor.org/info/rfc8126>.
    doc 0
      freq 1
      pos 2514
  term <https://www.rfc-editor.org/info/rfc8174>.
    doc 0
      freq 1
      pos 2536
  term <https://www.rfc-editor.org/info/rfc8402>.
    doc 0
      freq 1
      pos 2562
  term A.,
    doc 0
      freq 2
      pos 2421
      pos 2654
  term API
    doc 0
      freq 1
      pos 1345
  term Abstract
    doc 0
      freq 1
      pos 39
  term Acee
    doc 0
      freq 1
      pos 2698
  term Acknowledgements
    doc 0
      freq 2
      pos 640
      pos 2691
  term Addresses
    doc 0
      freq 2
      pos 695
      pos 2726
  term Advertisement
    doc 0
      freq 4
      pos 417
      pos 441
      pos 1282
      pos 1574
  term Advertisements
    doc 0
      freq 2
      pos 472
      pos 1837
  term Advertising
    doc 0
      freq 1
      pos 2479
  term Aldrin
    doc 0
      freq 2
      pos 23
      pos 2740
  term All
    doc 0
      freq 1
      pos 254
  term Apstra,
    doc 0
      freq 2
      pos 11
      pos 2729
  term Architecture",
    doc 0
      freq 2
      pos 2428
      pos 2555
  term Attribute
    doc 0
      freq 1
      pos 2134
  term Attribute,
    doc 0
      freq 1
      pos 2121
  term Attributes,
    doc 0
      freq 1
      pos 2125
  term August
    doc 0
      freq 1
      pos 2620
  term Authors'
    doc 0
      freq 2
      pos 694
      pos 2725
  term B.,
    doc 0
      freq 3
      pos 2493
      pos 2517
      pos 2547
  term BCP
    doc 0
      freq 5
      pos 262
      pos 1263
      pos 2408
      pos 2506
      pos 2528
  term BGP",
    doc 0
      freq 1
      pos 2668
  term BGP-LS
    doc 0
      freq 4
      pos 837
      pos 888
      pos 895
      pos 914
  term BMI-MSD
    doc 0
      freq 1
      pos 2007
  term BMI:
    doc 0
      freq 1
      pos 1093
  term BSD
    doc 0
      freq 2
      pos 311
      pos 334
  term Base
    doc 0
      freq 7
      pos 100
      pos 498
      pos 1025
      pos 1094
      pos 1980
      pos 1984
      pos 2270
  term Be
    doc 0
      freq 1
      pos 2191
  term Binding-SID
    doc 0
      freq 1
      pos 813
  term Border
    doc 0
      freq 2
      pos 860
      pos 2611
  term Bradner,
    doc 0
      freq 1
      pos 2396
  term Bruno
    doc 0
      freq 1
      pos 2705
  term Bundle
    doc 0
      freq 1
      pos 2123
  term C.,
    doc 0
      freq 3
      pos 2539
      pos 2574
      pos 2626
  term CAPABILITY
    doc 0
      freq 3
      pos 1296
      pos 1312
      pos 2065
  term Callon,
    doc 0
      freq 1
      pos 2424
  term Can
    doc 0
      freq 1
      pos 2190
  term Capability
    doc 0
      freq 1
      pos 2581
  term Category:
    doc 0
      freq 1
      pos 13
  term Chen,
    doc 0
      freq 1
      pos 2475
  term Chunduri
    doc 0
      freq 2
      pos 17
      pos 2734
  term Chunduri,
    doc 0
      freq 1
      pos 2598
  term Cisco
    doc 0
      freq 2
      pos 28
      pos 2747
  term Code
    doc 0
      freq 1
      pos 302
  term Codepoints
    doc 0
      freq 2
      pos 2290
      pos 2459
  term Comments:
    doc 0
      freq 1
      pos 9
  term Communication
    doc 0
      freq 1
      pos 794
  term Components
    doc 0
      freq 1
      pos 303
  term Computation
    doc 0
      freq 1
      pos 792
  term Considerations
    doc 0
      freq 7
      pos 523
      pos 548
      pos 1439
      pos 1703
      pos 2039
      pos 2304
      pos 2502
  term Contents
    doc 0
      freq 1
      pos 338
  term Contributors
    doc 0
      freq 2
      pos 666
      pos 2713
  term Copyright
    doc 0
      freq 2
      pos 239
      pos 241
  term Cotton,
    doc 0
      freq 1
      pos 2490
  term DOI
    doc 0
      freq 8
      pos 2412
      pos 2431
      pos 2463
      pos 2484
      pos 2510
      pos 2532
      pos 2558
      pos 2671
  term Decraene
    doc 0
      freq 1
      pos 2706
  term Decraene,
    doc 0
      freq 1
      pos 2546
  term Defining
    doc 0
      freq 2
      pos 465
      pos 1830
  term Depth
    doc 0
      freq 5
      pos 35
      pos 743
      pos 965
      pos 1115
      pos 2586
  term Depth)
    doc 0
      freq 1
      pos 2609
  term Depths
    doc 0
      freq 1
      pos 62
  term Description
    doc 0
      freq 2
      pos 2079
      pos 2144
  term Distribution
    doc 0
      freq 1
      pos 2659
  term Documents
    doc 0
      freq 1
      pos 273
  term E.,
    doc 0
      freq 1
      pos 2419
  term Ed.,
    doc 0
      freq 3
      pos 2540
      pos 2543
      pos 2648
  term Element
    doc 0
      freq 1
      pos 793
  term Email:
    doc 0
      freq 5
      pos 2723
      pos 2731
      pos 2737
      pos 2743
      pos 2749
  term Engineering
    doc 0
      freq 4
      pos 1
      pos 159
      pos 185
      pos 2664
  term Entropy
    doc 0
      freq 4
      pos 962
      pos 977
      pos 2579
      pos 2583
  term Experimental
    doc 0
      freq 1
      pos 2279
  term Extensions
    doc 0
      freq 2
      pos 2477
      pos 2635
  term Farrel,
    doc 0
      freq 1
      pos 2653
  term Figure
    doc 0
      freq 6
      pos 1391
      pos 1655
      pos 2089
      pos 2154
      pos 2183
      pos 2287
  term Filsfils,
    doc 0
      freq 3
      pos 2538
      pos 2573
      pos 2625
  term For
    doc 0
      freq 2
      pos 958
      pos 1078
  term Force
    doc 0
      freq 2
      pos 3
      pos 161
  term Further
    doc 0
      freq 1
      pos 189
  term G.,
    doc 0
      freq 1
      pos 2601
  term Gateway
    doc 0
      freq 3
      pos 861
      pos 2220
      pos 2612
  term General
    doc 0
      freq 1
      pos 2292
  term Generally,
    doc 0
      freq 1
      pos 1931
  term Ginsberg
    doc 0
      freq 2
      pos 27
      pos 2746
  term Ginsberg,
    doc 0
      freq 3
      pos 2452
      pos 2469
      pos 2544
  term Google,
    doc 0
      freq 2
      pos 24
      pos 2741
  term Gredler,
    doc 0
      freq 1
      pos 2646
  term Group
    doc 0
      freq 1
      pos 187
  term H.,
    doc 0
      freq 1
      pos 2647
  term Hardwick,
    doc 0
      freq 1
      pos 2633
  term Henderickx,
    doc 0
      freq 1
      pos 2629
  term However,
    doc 0
      freq 2
      pos 103
      pos 797
  term Huawei
    doc 0
      freq 2
      pos 20
      pos 2735
  term IANA
    doc 0
      freq 11
      pos 522
      pos 1016
      pos 1438
      pos 1702
      pos 2038
      pos 2040
      pos 2072
      pos 2093
      pos 2137
      pos 2208
      pos 2501
  term IANA-managed
    doc 0
      freq 1
      pos 2212
  term ID
    doc 0
      freq 1
      pos 82
  term IETF
    doc 0
      freq 4
      pos 169
      pos 244
      pos 266
      pos 272
  term IGP
    doc 0
      freq 2
      pos 823
      pos 1335
  term IPv6.
    doc 0
      freq 1
      pos 1064
  term IS
    doc 0
      freq 3
      pos 2117
      pos 2119
      pos 2132
  term IS-IS
    doc 0
      freq 15
      pos 38
      pos 236
      pos 851
      pos 997
      pos 1198
      pos 1294
      pos 1310
      pos 1458
      pos 1510
      pos 1722
      pos 2034
      pos 2205
      pos 2448
      pos 2457
      pos 2688
  term IS-IS",
    doc 0
      freq 1
      pos 2588
  term ISSN:
    doc 0
      freq 1
      pos 18
  term Identifier
    doc 0
      freq 2
      pos 762
      pos 1133
  term If
    doc 0
      freq 6
      pos 1526
      pos 1768
      pos 1793
      pos 1860
      pos 2327
      pos 2343
  term Imposition
    doc 0
      freq 7
      pos 500
      pos 1027
      pos 1096
      pos 1140
      pos 1982
      pos 1986
      pos 2272
  term Imposition.
    doc 0
      freq 1
      pos 102
  term Imposition:
    doc 0
      freq 1
      pos 1139
  term In
    doc 0
      freq 5
      pos 911
      pos 1029
      pos 1816
      pos 1888
      pos 1948
  term Inc.
    doc 0
      freq 4
      pos 12
      pos 25
      pos 2730
      pos 2742
  term Indicate
    doc 0
      freq 1
      pos 2405
  term Information
    doc 0
      freq 3
      pos 202
      pos 858
      pos 2666
  term Information",
    doc 0
      freq 1
      pos 2481
  term Informative
    doc 0
      freq 2
      pos 620
      pos 2564
  term Intermediate
    doc 0
      freq 4
      pos 47
      pos 50
      pos 939
      pos 942
  term Internet
    doc 0
      freq 5
      pos 0
      pos 147
      pos 158
      pos 184
      pos 192
  term Introduction
    doc 0
      freq 2
      pos 340
      pos 721
  term It
    doc 0
      freq 3
      pos 163
      pos 171
      pos 1012
  term J.
    doc 0
      freq 2
      pos 5
      pos 2632
  term J.,
    doc 0
      freq 3
      pos 2597
      pos 2628
      pos 2650
  term January
    doc 0
      freq 1
      pos 2433
  term Jeff
    doc 0
      freq 1
      pos 2727
  term July
    doc 0
      freq 1
      pos 2560
  term June
    doc 0
      freq 1
      pos 2512
  term Ketan
    doc 0
      freq 1
      pos 2700
  term Key
    doc 0
      freq 1
      pos 2526
  term Kini,
    doc 0
      freq 1
      pos 2569
  term L.
    doc 0
      freq 1
      pos 26
  term L.,
    doc 0
      freq 3
      pos 2453
      pos 2470
      pos 2545
  term L2
    doc 0
      freq 1
      pos 2122
  term LINK
    doc 0
      freq 1
      pos 2187
  term Label
    doc 0
      freq 6
      pos 964
      pos 978
      pos 1138
      pos 2426
      pos 2580
      pos 2585
  term Language
    doc 0
      freq 2
      pos 394
      pos 1233
  term Legal
    doc 0
      freq 2
      pos 268
      pos 322
  term Leiba,
    doc 0
      freq 2
      pos 2492
      pos 2516
  term Length
    doc 0
      freq 2
      pos 1372
      pos 1636
  term Length:
    doc 0
      freq 2
      pos 1398
      pos 1662
  term Les
    doc 0
      freq 1
      pos 2745
  term Levels",
    doc 0
      freq 1
      pos 2407
  term License
    doc 0
      freq 1
      pos 312
  term License.
    doc 0
      freq 1
      pos 335
  term Lindem,
    doc 0
      freq 1
      pos 2699
  term Link
    doc 0
      freq 15
      pos 439
      pos 470
      pos 1572
      pos 1576
      pos 1657
      pos 1770
      pos 1835
      pos 1839
      pos 1851
      pos 1862
      pos 1901
      pos 1919
      pos 2150
      pos 2156
      pos 2161
  term Link-State
    doc 0
      freq 2
      pos 855
      pos 2661
  term Link-State",
    doc 0
      freq 1
      pos 2614
  term Litkowski,
    doc 0
      freq 3
      pos 2548
      pos 2577
      pos 2703
  term Lowercase
    doc 0
      freq 1
      pos 2522
  term M.
    doc 0
      freq 1
      pos 2474
  term M.,
    doc 0
      freq 1
      pos 2491
  term MAY
    doc 0
      freq 1
      pos 1067
  term MPLS
    doc 0
      freq 10
      pos 101
      pos 499
      pos 1026
      pos 1083
      pos 1095
      pos 1101
      pos 1981
      pos 1985
      pos 1994
      pos 2271
  term MSD
    doc 0
      freq 57
      pos 112
      pos 118
      pos 130
      pos 234
      pos 416
      pos 440
      pos 471
      pos 501
      pos 788
      pos 832
      pos 849
      pos 885
      pos 917
      pos 929
      pos 932
      pos 1065
      pos 1085
      pos 1196
      pos 1281
      pos 1285
      pos 1315
      pos 1319
      pos 1337
      pos 1394
      pos 1456
      pos 1531
      pos 1554
      pos 1573
      pos 1577
      pos 1593
      pos 1601
      pos 1658
      pos 1720
      pos 1771
      pos 1823
      pos 1836
      pos 1840
      pos 1852
      pos 1883
      pos 1902
      pos 1908
      pos 1920
      pos 1983
      pos 1987
      pos 2032
      pos 2086
      pos 2092
      pos 2151
      pos 2157
      pos 2162
      pos 2188
      pos 2203
      pos 2273
      pos 2321
      pos 2446
      pos 2606
      pos 2686
  term MSD-Type
    doc 0
      freq 15
      pos 1020
      pos 1376
      pos 1386
      pos 1423
      pos 1536
      pos 1640
      pos 1650
      pos 1687
      pos 1776
      pos 1863
      pos 1870
      pos 1875
      pos 1925
      pos 1964
      pos 1976
  term MSD-Type,
    doc 0
      freq 1
      pos 1846
  term MSD-Type.
    doc 0
      freq 3
      pos 1028
      pos 1930
      pos 1947
  term MSD-Type:
    doc 0
      freq 2
      pos 1427
      pos 1691
  term MSD-Types
    doc 0
      freq 3
      pos 1037
      pos 2227
      pos 2289
  term MSD-Types"
    doc 0
      freq 3
      pos 1433
      pos 1697
      pos 2216
  term MSD-Types,
    doc 0
      freq 2
      pos 1470
      pos 1734
  term MSD-Value
    doc 0
      freq 6
      pos 1378
      pos 1388
      pos 1426
      pos 1642
      pos 1652
      pos 1690
  term MSD-Value:
    doc 0
      freq 2
      pos 1461
      pos 1725
  term MSD.
    doc 0
      freq 1
      pos 1859
  term MSD:
    doc 0
      freq 2
      pos 99
      pos 1112
  term MSDs
    doc 0
      freq 2
      pos 952
      pos 1006
  term MT
    doc 0
      freq 1
      pos 2131
  term MT-ISN,
    doc 0
      freq 1
      pos 2129
  term MUST
    doc 0
      freq 4
      pos 1495
      pos 1853
      pos 1877
      pos 1971
  term March
    doc 0
      freq 2
      pos 2414
      pos 2673
  term Maximum
    doc 0
      freq 4
      pos 33
      pos 60
      pos 741
      pos 1113
  term May
    doc 0
      freq 1
      pos 2534
  term Medved,
    doc 0
      freq 1
      pos 2649
  term Member
    doc 0
      freq 1
      pos 2124
  term Memo
    doc 0
      freq 1
      pos 143
  term Mirsky,
    doc 0
      freq 1
      pos 2600
  term NOT",
    doc 0
      freq 3
      pos 1239
      pos 1243
      pos 1246
  term Name
    doc 0
      freq 1
      pos 2260
  term Narten,
    doc 0
      freq 1
      pos 2496
  term Neighbor
    doc 0
      freq 2
      pos 2120
      pos 2133
  term Node
    doc 0
      freq 16
      pos 415
      pos 468
      pos 1280
      pos 1284
      pos 1314
      pos 1393
      pos 1530
      pos 1822
      pos 1833
      pos 1858
      pos 1869
      pos 1874
      pos 1907
      pos 1917
      pos 2085
      pos 2091
  term Normative
    doc 0
      freq 2
      pos 598
      pos 2393
  term Notice
    doc 0
      freq 1
      pos 240
  term November
    doc 0
      freq 10
      pos 30
      pos 237
      pos 852
      pos 1199
      pos 1459
      pos 1723
      pos 2035
      pos 2206
      pos 2449
      pos 2689
  term October
    doc 0
      freq 2
      pos 2486
      pos 2643
  term Other
    doc 0
      freq 1
      pos 949
  term PCEP
    doc 0
      freq 1
      pos 799
  term Parameters"
    doc 0
      freq 1
      pos 2223
  term Path
    doc 0
      freq 1
      pos 791
  term Per-TLV
    doc 0
      freq 1
      pos 2158
  term Peter
    doc 0
      freq 1
      pos 2721
  term Please
    doc 0
      freq 1
      pos 285
  term Present
    doc 0
      freq 1
      pos 2192
  term Previdi,
    doc 0
      freq 3
      pos 2471
      pos 2541
      pos 2651
  term Procedures
    doc 0
      freq 2
      pos 463
      pos 1828
  term Progress,
    doc 0
      freq 3
      pos 2591
      pos 2617
      pos 2641
  term Protocol
    doc 0
      freq 3
      pos 795
      pos 2221
      pos 2613
  term Protocol)
    doc 0
      freq 1
      pos 862
  term Provisions
    doc 0
      freq 2
      pos 269
      pos 323
  term Psenak
    doc 0
      freq 1
      pos 2722
  term R.
    doc 0
      freq 2
      pos 2423
      pos 2551
  term RECOMMENDED
    doc 0
      freq 1
      pos 1896
  term RECOMMENDED",
    doc 0
      freq 1
      pos 1249
  term RFC
    doc 0
      freq 19
      pos 200
      pos 231
      pos 846
      pos 1193
      pos 1453
      pos 1717
      pos 2029
      pos 2200
      pos 2410
      pos 2429
      pos 2443
      pos 2461
      pos 2482
      pos 2508
      pos 2524
      pos 2530
      pos 2556
      pos 2669
      pos 2683
  term RFCs
    doc 0
      freq 1
      pos 2403
  term RFCs",
    doc 0
      freq 1
      pos 2505
  term Ray,
    doc 0
      freq 1
      pos 2657
  term Readable
    doc 0
      freq 2
      pos 963
      pos 2584
  term Reference
    doc 0
      freq 3
      pos 2080
      pos 2145
      pos 2261
  term References
    doc 0
      freq 6
      pos 570
      pos 599
      pos 621
      pos 2391
      pos 2394
      pos 2565
  term Registry
    doc 0
      freq 1
      pos 2291
  term Registry",
    doc 0
      freq 1
      pos 2460
  term Relating
    doc 0
      freq 1
      pos 270
  term Request
    doc 0
      freq 1
      pos 7
  term Requirement
    doc 0
      freq 1
      pos 2406
  term Requirements
    doc 0
      freq 2
      pos 393
      pos 1232
  term Reserved
    doc 0
      freq 2
      pos 2266
      pos 2284
  term Review"
    doc 0
      freq 1
      pos 2240
  term Rosen,
    doc 0
      freq 1
      pos 2418
  term Router
    doc 0
      freq 4
      pos 1295
      pos 1311
      pos 2064
      pos 2480
  term Routing
    doc 0
      freq 4
      pos 126
      pos 724
      pos 1073
      pos 2554
  term Routing",
    doc 0
      freq 1
      pos 2638
  term S.
    doc 0
      freq 4
      pos 22
      pos 2576
      pos 2603
      pos 2656
  term S.,
    doc 0
      freq 8
      pos 2397
      pos 2472
      pos 2542
      pos 2549
      pos 2570
      pos 2572
      pos 2624
      pos 2652
  term SHOULD
    doc 0
      freq 2
      pos 934
      pos 1824
  term SID
    doc 0
      freq 9
      pos 34
      pos 61
      pos 742
      pos 1114
      pos 1303
      pos 1480
      pos 1744
      pos 2367
      pos 2608
  term SID:
    doc 0
      freq 1
      pos 1131
  term SIDs
    doc 0
      freq 4
      pos 776
      pos 1048
      pos 1056
      pos 1120
  term SR
    doc 0
      freq 3
      pos 136
      pos 755
      pos 809
  term Sam
    doc 0
      freq 1
      pos 2739
  term Section
    doc 0
      freq 7
      pos 197
      pos 317
      pos 1444
      pos 1708
      pos 2052
      pos 2102
      pos 2503
  term Sections
    doc 0
      freq 1
      pos 2231
  term Security
    doc 0
      freq 3
      pos 547
      pos 2303
      pos 2305
  term See
    doc 0
      freq 1
      pos 1226
  term Segment
    doc 0
      freq 7
      pos 81
      pos 125
      pos 723
      pos 761
      pos 1072
      pos 1132
      pos 2637
  term September
    doc 0
      freq 2
      pos 2465
      pos 2593
  term Shakir,
    doc 0
      freq 1
      pos 2552
  term Signaling
    doc 0
      freq 10
      pos 32
      pos 233
      pos 848
      pos 1195
      pos 1455
      pos 1719
      pos 2031
      pos 2202
      pos 2445
      pos 2685
  term Simplified
    doc 0
      freq 2
      pos 310
      pos 333
  term Sivabalan,
    doc 0
      freq 3
      pos 2571
      pos 2604
      pos 2623
  term Standards
    doc 0
      freq 13
      pos 14
      pos 148
      pos 193
      pos 227
      pos 842
      pos 1189
      pos 1449
      pos 1713
      pos 2025
      pos 2196
      pos 2439
      pos 2679
      pos 2754
  term Status
    doc 0
      freq 1
      pos 140
  term Steering
    doc 0
      freq 1
      pos 186
  term Stephane
    doc 0
      freq 1
      pos 2702
  term Sub-TLV
    doc 0
      freq 3
      pos 1395
      pos 1659
      pos 2189
  term Such
    doc 0
      freq 1
      pos 69
  term Switching
    doc 0
      freq 1
      pos 2427
  term System
    doc 0
      freq 4
      pos 48
      pos 51
      pos 940
      pos 943
  term Systems
    doc 0
      freq 2
      pos 29
      pos 2748
  term T.
    doc 0
      freq 1
      pos 2495
  term TE
    doc 0
      freq 1
      pos 857
  term TLV
    doc 0
      freq 4
      pos 1297
      pos 2061
      pos 2168
      pos 2458
  term TLV)"
    doc 0
      freq 1
      pos 2066
  term TLV.
    doc 0
      freq 1
      pos 1313
  term TLVs
    doc 0
      freq 3
      pos 1582
      pos 2108
      pos 2185
  term TLVs)"
    doc 0
      freq 1
      pos 2135
  term Table
    doc 0
      freq 1
      pos 336
  term Talaulikar,
    doc 0
      freq 1
      pos 2701
  term Tantsura
    doc 0
      freq 2
      pos 6
      pos 2728
  term Tantsura,
    doc 0
      freq 12
      pos 224
      pos 839
      pos 1186
      pos 1446
      pos 1710
      pos 2022
      pos 2193
      pos 2436
      pos 2596
      pos 2627
      pos 2676
      pos 2751
  term Task
    doc 0
      freq 2
      pos 2
      pos 160
  term Technologies
    doc 0
      freq 2
      pos 21
      pos 2736
  term Terminology
    doc 0
      freq 2
      pos 367
      pos 1092
  term The
    doc 0
      freq 14
      pos 1201
      pos 1234
      pos 1283
      pos 1516
      pos 1575
      pos 1910
      pos 1968
      pos 2004
      pos 2235
      pos 2251
      pos 2316
      pos 2371
      pos 2692
      pos 2714
  term These
    doc 0
      freq 1
      pos 1548
  term This
    doc 0
      freq 20
      pos 40
      pos 92
      pos 114
      pos 142
      pos 144
      pos 151
      pos 257
      pos 757
      pos 991
      pos 1158
      pos 1493
      pos 1512
      pos 1563
      pos 1764
      pos 2087
      pos 2152
      pos 2267
      pos 2274
      pos 2281
      pos 2285
  term Track
    doc 0
      freq 12
      pos 15
      pos 149
      pos 228
      pos 843
      pos 1190
      pos 1450
      pos 1714
      pos 2026
      pos 2197
      pos 2440
      pos 2680
      pos 2755
  term Traffic
    doc 0
      freq 1
      pos 2663
  term Trust
    doc 0
      freq 2
      pos 245
      pos 321
  term Trust's
    doc 0
      freq 1
      pos 267
  term Type
    doc 0
      freq 2
      pos 1370
      pos 1634
  term Type:
    doc 0
      freq 2
      pos 1396
      pos 1660
  term Types
    doc 0
      freq 1
      pos 2245
  term Typically,
    doc 0
      freq 1
      pos 894
  term U.
    doc 0
      freq 1
      pos 16
  term U.,
    doc 0
      freq 1
      pos 2599
  term Uma
    doc 0
      freq 1
      pos 2733
  term Unassigned
    doc 0
      freq 1
      pos 2277
  term Uppercase
    doc 0
      freq 1
      pos 2520
  term Use
    doc 0
      freq 1
      pos 2280
  term Using
    doc 0
      freq 15
      pos 37
      pos 235
      pos 467
      pos 850
      pos 859
      pos 1197
      pos 1457
      pos 1721
      pos 1832
      pos 2033
      pos 2204
      pos 2447
      pos 2587
      pos 2667
      pos 2687
  term Value
    doc 0
      freq 5
      pos 1410
      pos 1674
      pos 2078
      pos 2143
      pos 2259
  term Value:
    doc 0
      freq 2
      pos 1412
      pos 1676
  term Viswanathan,
    doc 0
      freq 1
      pos 2420
  term W.,
    doc 0
      freq 1
      pos 2630
  term When
    doc 0
      freq 2
      pos 722
      pos 1838
  term Where
    doc 0
      freq 1
      pos 2186
  term Words",
    doc 0
      freq 1
      pos 2527
  term Work
    doc 0
      freq 3
      pos 2589
      pos 2615
      pos 2639
  term Writing
    doc 0
      freq 1
      pos 2499
  term X.,
    doc 0
      freq 1
      pos 2568
  term Xu,
    doc 0
      freq 1
      pos 2567
  term [ELC-ISIS]
    doc 0
      freq 2
      pos 960
      pos 2566
  term [MSD-BGP]
    doc 0
      freq 1
      pos 2595
  term [MSD-BGP].
    doc 0
      freq 1
      pos 893
  term [PCEP-EXT]
    doc 0
      freq 2
      pos 783
      pos 2622
  term [Page
    doc 0
      freq 10
      pos 229
      pos 844
      pos 1191
      pos 1451
      pos 1715
      pos 2027
      pos 2198
      pos 2441
      pos 2681
      pos 2756
  term [RFC2119]
    doc 0
      freq 2
      pos 1265
      pos 2395
  term [RFC3031]
    doc 0
      freq 2
      pos 1227
      pos 2417
  term [RFC7370]
    doc 0
      freq 1
      pos 2451
  term [RFC7370].
    doc 0
      freq 1
      pos 2301
  term [RFC7752]
    doc 0
      freq 2
      pos 863
      pos 2645
  term [RFC7981]
    doc 0
      freq 4
      pos 1298
      pos 1546
      pos 2310
      pos 2468
  term [RFC7981].
    doc 0
      freq 1
      pos 2071
  term [RFC8126]
    doc 0
      freq 1
      pos 2489
  term [RFC8126].
    doc 0
      freq 1
      pos 2244
  term [RFC8174]
    doc 0
      freq 2
      pos 1266
      pos 2515
  term [RFC8402]
    doc 0
      freq 1
      pos 2537
  term [RFC8402].
    doc 0
      freq 1
      pos 1137
  term a
    doc 0
      freq 33
      pos 43
      pos 79
      pos 89
      pos 121
      pos 154
      pos 730
      pos 753
      pos 767
      pos 812
      pos 865
      pos 882
      pos 899
      pos 971
      pos 981
      pos 1081
      pos 1123
      pos 1126
      pos 1129
      pos 1156
      pos 1172
      pos 1343
      pos 1421
      pos 1479
      pos 1685
      pos 1743
      pos 1818
      pos 1844
      pos 1861
      pos 1923
      pos 2043
      pos 2096
      pos 2340
      pos 2354
  term ability
    doc 0
      freq 2
      pos 1476
      pos 1740
  term about
    doc 0
      freq 1
      pos 203
  term absence
    doc 0
      freq 2
      pos 1914
      pos 2005
  term act
    doc 0
      freq 2
      pos 908
      pos 1143
  term adding
    doc 0
      freq 1
      pos 1147
  term additional
    doc 0
      freq 1
      pos 1043
  term advertise
    doc 0
      freq 4
      pos 55
      pos 1000
      pos 1813
      pos 1904
  term advertised
    doc 0
      freq 1
      pos 936
  term advertised.
    doc 0
      freq 1
      pos 1826
  term advertisement
    doc 0
      freq 5
      pos 1520
      pos 1944
      pos 1955
      pos 2018
      pos 2317
  term advertisements
    doc 0
      freq 6
      pos 70
      pos 1066
      pos 1532
      pos 1772
      pos 1921
      pos 2008
  term advertising
    doc 0
      freq 5
      pos 1334
      pos 1509
      pos 1795
      pos 1939
      pos 2013
  term aforementioned
    doc 0
      freq 1
      pos 2388
  term al.
    doc 0
      freq 10
      pos 226
      pos 841
      pos 1188
      pos 1448
      pos 1712
      pos 2024
      pos 2195
      pos 2438
      pos 2678
      pos 2753
  term aldrin.ietf@gmail.com
    doc 0
      freq 1
      pos 2744
  term all
    doc 0
      freq 6
      pos 919
      pos 1109
      pos 1274
      pos 1469
      pos 1733
      pos 2001
  term allocated
    doc 0
      freq 4
      pos 2042
      pos 2074
      pos 2095
      pos 2139
  term allow
    doc 0
      freq 1
      pos 71
  term also
    doc 0
      freq 3
      pos 132
      pos 1013
      pos 2377
  term an
    doc 0
      freq 15
      pos 46
      pos 106
      pos 146
      pos 808
      pos 976
      pos 994
      pos 1015
      pos 1761
      pos 1975
      pos 2211
      pos 2247
      pos 2319
      pos 2350
      pos 2379
      pos 2500
  term anchor
    doc 0
      freq 1
      pos 814
  term and
    doc 0
      freq 40
      pos 176
      pos 212
      pos 246
      pos 264
      pos 295
      pos 324
      pos 466
      pos 469
      pos 816
      pos 835
      pos 856
      pos 870
      pos 873
      pos 922
      pos 1022
      pos 1218
      pos 1251
      pos 1268
      pos 1424
      pos 1588
      pos 1688
      pos 1777
      pos 1831
      pos 1834
      pos 1918
      pos 2114
      pos 2130
      pos 2233
      pos 2422
      pos 2473
      pos 2494
      pos 2550
      pos 2575
      pos 2582
      pos 2602
      pos 2631
      pos 2655
      pos 2662
      pos 2704
      pos 2710
  term and/or
    doc 0
      freq 3
      pos 66
      pos 1009
      pos 1146
  term another
    doc 0
      freq 1
      pos 1059
  term any
    doc 0
      freq 8
      pos 210
      pos 1483
      pos 1485
      pos 1502
      pos 1568
      pos 1747
      pos 1749
      pos 2385
  term appear
    doc 0
      freq 1
      pos 1272
  term applicable
    doc 0
      freq 1
      pos 2312
  term apply.
    doc 0
      freq 1
      pos 1547
  term approved
    doc 0
      freq 1
      pos 179
  term are
    doc 0
      freq 10
      pos 325
      pos 727
      pos 953
      pos 1216
      pos 1224
      pos 1256
      pos 1781
      pos 2246
      pos 2254
      pos 2311
  term as
    doc 0
      freq 14
      pos 250
      pos 290
      pos 314
      pos 329
      pos 909
      pos 1063
      pos 1260
      pos 1276
      pos 1760
      pos 2068
      pos 2099
      pos 2228
      pos 2241
      pos 2307
  term assigning
    doc 0
      freq 1
      pos 1019
  term associated
    doc 0
      freq 5
      pos 871
      pos 1057
      pos 1154
      pos 1597
      pos 1961
  term at
    doc 0
      freq 6
      pos 64
      pos 222
      pos 749
      pos 980
      pos 1007
      pos 1164
  term attacker
    doc 0
      freq 1
      pos 2380
  term attempt
    doc 0
      freq 1
      pos 2351
  term attributes
    doc 0
      freq 1
      pos 872
  term authors
    doc 0
      freq 1
      pos 2693
  term authors.
    doc 0
      freq 1
      pos 253
  term available
    doc 0
      freq 1
      pos 195
  term be
    doc 0
      freq 24
      pos 86
      pos 133
      pos 220
      pos 747
      pos 935
      pos 956
      pos 986
      pos 1039
      pos 1051
      pos 1068
      pos 1105
      pos 1258
      pos 1340
      pos 1348
      pos 1604
      pos 1612
      pos 1825
      pos 1878
      pos 1881
      pos 1935
      pos 1972
      pos 1998
      pos 2165
      pos 2358
  term been
    doc 0
      freq 2
      pos 178
      pos 890
  term being
    doc 0
      freq 1
      pos 1556
  term bgp-ls-segment-routing-msd-02,
    doc 0
      freq 1
      pos 2619
  term body
    doc 0
      freq 1
      pos 1291
  term both
    doc 0
      freq 1
      pos 1916
  term but
    doc 0
      freq 2
      pos 129
      pos 1867
  term by
    doc 0
      freq 20
      pos 182
      pos 729
      pos 887
      pos 937
      pos 970
      pos 988
      pos 1122
      pos 1321
      pos 1332
      pos 1436
      pos 1501
      pos 1507
      pos 1538
      pos 1560
      pos 1606
      pos 1700
      pos 2070
      pos 2256
      pos 2309
      pos 2360
  term can
    doc 0
      freq 9
      pos 85
      pos 109
      pos 746
      pos 985
      pos 1050
      pos 1104
      pos 1933
      pos 1997
      pos 2164
  term can't
    doc 0
      freq 1
      pos 2357
  term capabilities
    doc 0
      freq 2
      pos 874
      pos 933
  term capabilities,
    doc 0
      freq 1
      pos 1044
  term capability.
    doc 0
      freq 1
      pos 2021
  term capable
    doc 0
      freq 1
      pos 780
  term capitals,
    doc 0
      freq 1
      pos 1275
  term carefully,
    doc 0
      freq 1
      pos 289
  term carry
    doc 0
      freq 2
      pos 1300
      pos 1591
  term case,
    doc 0
      freq 1
      pos 1819
  term cases,
    doc 0
      freq 1
      pos 1950
  term centralized
    doc 0
      freq 3
      pos 74
      pos 731
      pos 883
  term comments.
    doc 0
      freq 1
      pos 2712
  term community.
    doc 0
      freq 1
      pos 170
  term computation
    doc 0
      freq 1
      pos 2335
  term compute
    doc 0
      freq 1
      pos 2339
  term computed
    doc 0
      freq 2
      pos 728
      pos 768
  term conditions.
    doc 0
      freq 1
      pos 2389
  term configured
    doc 0
      freq 4
      pos 803
      pos 897
      pos 1329
      pos 1504
  term consensus
    doc 0
      freq 1
      pos 166
  term consequences.
    doc 0
      freq 1
      pos 2326
  term considerations
    doc 0
      freq 1
      pos 2306
  term considered
    doc 0
      freq 1
      pos 1879
  term consists
    doc 0
      freq 2
      pos 1414
      pos 1678
  term context
    doc 0
      freq 1
      pos 1802
  term contributed
    doc 0
      freq 1
      pos 2717
  term controller
    doc 0
      freq 2
      pos 738
      pos 818
  term controller,
    doc 0
      freq 1
      pos 732
  term controller.
    doc 0
      freq 1
      pos 884
  term controllers)
    doc 0
      freq 1
      pos 75
  term controllers.
    doc 0
      freq 1
      pos 1562
  term copy
    doc 0
      freq 1
      pos 1788
  term correct
    doc 0
      freq 1
      pos 1969
  term create
    doc 0
      freq 1
      pos 1567
  term created
    doc 0
      freq 3
      pos 1435
      pos 1699
      pos 2210
  term creates
    doc 0
      freq 1
      pos 1014
  term critical
    doc 0
      freq 1
      pos 735
  term current
    doc 0
      freq 1
      pos 205
  term data
    doc 0
      freq 1
      pos 1060
  term date
    doc 0
      freq 1
      pos 279
  term defined
    doc 0
      freq 13
      pos 891
      pos 1040
      pos 1135
      pos 1288
      pos 1429
      pos 1544
      pos 1580
      pos 1693
      pos 2069
      pos 2100
      pos 2242
      pos 2255
      pos 2299
  term defined.
    doc 0
      freq 1
      pos 1978
  term defines
    doc 0
      freq 9
      pos 42
      pos 95
      pos 105
      pos 784
      pos 864
      pos 961
      pos 993
      pos 1023
      pos 1086
  term deployment.
    doc 0
      freq 1
      pos 1525
  term depth
    doc 0
      freq 3
      pos 765
      pos 982
      pos 1304
  term depth.
    doc 0
      freq 1
      pos 1090
  term depth;
    doc 0
      freq 2
      pos 1484
      pos 1748
  term describe
    doc 0
      freq 1
      pos 292
  term described
    doc 0
      freq 3
      pos 315
      pos 330
      pos 1261
  term designated
    doc 0
      freq 1
      pos 2296
  term details.
    doc 0
      freq 1
      pos 1230
  term determine
    doc 0
      freq 1
      pos 77
  term different
    doc 0
      freq 2
      pos 1553
      pos 1561
  term do
    doc 0
      freq 1
      pos 905
  term document
    doc 0
      freq 18
      pos 41
      pos 93
      pos 115
      pos 152
      pos 252
      pos 258
      pos 307
      pos 992
      pos 1255
      pos 1443
      pos 1707
      pos 2056
      pos 2088
      pos 2153
      pos 2268
      pos 2275
      pos 2282
      pos 2286
  term document,
    doc 0
      freq 1
      pos 209
  term document.
    doc 0
      freq 4
      pos 150
      pos 284
      pos 301
      pos 2315
  term document:
    doc 0
      freq 2
      pos 2258
      pos 2720
  term documents
    doc 0
      freq 1
      pos 288
  term does
    doc 0
      freq 5
      pos 770
      pos 819
      pos 1564
      pos 1941
      pos 2015
  term draft-ietf-idr-
    doc 0
      freq 1
      pos 2618
  term draft-ietf-isis-mpls-elc-06,
    doc 0
      freq 1
      pos 2592
  term draft-ietf-pce-segment-routing-13,
    doc 0
      freq 1
      pos 2642
  term e.g.,
    doc 0
      freq 1
      pos 1045
  term each
    doc 0
      freq 1
      pos 750
  term effect
    doc 0
      freq 1
      pos 276
  term efficiency,
    doc 0
      freq 1
      pos 1893
  term enabled,
    doc 0
      freq 1
      pos 128
  term enabled.
    doc 0
      freq 2
      pos 139
      pos 1077
  term encoding
    doc 0
      freq 1
      pos 107
  term end
    doc 0
      freq 1
      pos 973
  term ensures
    doc 0
      freq 1
      pos 758
  term entities
    doc 0
      freq 1
      pos 72
  term entropy
    doc 0
      freq 1
      pos 1046
  term errata,
    doc 0
      freq 1
      pos 211
  term et
    doc 0
      freq 10
      pos 225
      pos 840
      pos 1187
      pos 1447
      pos 1711
      pos 2023
      pos 2194
      pos 2437
      pos 2677
      pos 2752
  term even
    doc 0
      freq 1
      pos 1070
  term every
    doc 0
      freq 1
      pos 938
  term example,
    doc 0
      freq 3
      pos 959
      pos 1079
      pos 1559
  term exceed
    doc 0
      freq 1
      pos 772
  term exist
    doc 0
      freq 1
      pos 1528
  term expected
    doc 0
      freq 1
      pos 1034
  term experts
    doc 0
      freq 1
      pos 2297
  term expose
    doc 0
      freq 1
      pos 868
  term extension
    doc 0
      freq 1
      pos 995
  term extracted
    doc 0
      freq 1
      pos 304
  term fail
    doc 0
      freq 1
      pos 2337
  term feedback
    doc 0
      freq 1
      pos 216
  term field
    doc 0
      freq 4
      pos 1411
      pos 1413
      pos 1675
      pos 1677
  term flooding
    doc 0
      freq 1
      pos 1892
  term focuses
    doc 0
      freq 1
      pos 116
  term following
    doc 0
      freq 4
      pos 2076
      pos 2141
      pos 2252
      pos 2715
  term for
    doc 0
      freq 28
      pos 8
      pos 45
      pos 180
      pos 464
      pos 913
      pos 918
      pos 927
      pos 1018
      pos 1228
      pos 1330
      pos 1505
      pos 1533
      pos 1558
      pos 1581
      pos 1773
      pos 1829
      pos 1843
      pos 1885
      pos 1922
      pos 2046
      pos 2060
      pos 2107
      pos 2294
      pos 2400
      pos 2478
      pos 2498
      pos 2636
      pos 2707
  term forwarding
    doc 0
      freq 1
      pos 1608
  term from
    doc 0
      freq 3
      pos 305
      pos 2057
      pos 2104
  term functionality
    doc 0
      freq 1
      pos 1960
  term further
    doc 0
      freq 1
      pos 1229
  term future,
    doc 0
      freq 1
      pos 1031
  term ginsberg@cisco.com
    doc 0
      freq 1
      pos 2750
  term given
    doc 0
      freq 4
      pos 90
      pos 754
      pos 1845
      pos 1924
  term granularity.
    doc 0
      freq 2
      pos 68
      pos 1011
  term guidance
    doc 0
      freq 1
      pos 2293
  term hardware
    doc 0
      freq 1
      pos 1344
  term has
    doc 0
      freq 9
      pos 172
      pos 177
      pos 826
      pos 889
      pos 2041
      pos 2073
      pos 2094
      pos 2138
      pos 2209
  term have
    doc 0
      freq 1
      pos 2324
  term head-
    doc 0
      freq 1
      pos 972
  term head-end
    doc 0
      freq 2
      pos 806
      pos 2362
  term head-ends.
    doc 0
      freq 1
      pos 910
  term here.
    doc 0
      freq 1
      pos 1278
  term homogenous
    doc 0
      freq 1
      pos 1900
  term how
    doc 0
      freq 3
      pos 213
      pos 785
      pos 2382
  term however,
    doc 0
      freq 2
      pos 1566
      pos 1951
  term https://www.rfc-editor.org/info/rfc8491.
    doc 0
      freq 1
      pos 223
  term identified
    doc 0
      freq 1
      pos 249
  term identifiers
    doc 0
      freq 1
      pos 1021
  term identify
    doc 0
      freq 1
      pos 2226
  term if
    doc 0
      freq 2
      pos 798
      pos 1071
  term imply
    doc 0
      freq 1
      pos 1957
  term imposed
    doc 0
      freq 4
      pos 748
      pos 1052
      pos 1106
      pos 1205
  term imposed,
    doc 0
      freq 1
      pos 1999
  term imposing.
    doc 0
      freq 1
      pos 782
  term imposition
    doc 0
      freq 1
      pos 1799
  term imposition)
    doc 0
      freq 1
      pos 2368
  term in
    doc 0
      freq 35
      pos 88
      pos 120
      pos 196
      pos 275
      pos 316
      pos 331
      pos 789
      pos 822
      pos 878
      pos 892
      pos 924
      pos 946
      pos 1080
      pos 1136
      pos 1253
      pos 1262
      pos 1273
      pos 1430
      pos 1463
      pos 1545
      pos 1552
      pos 1694
      pos 1727
      pos 1800
      pos 2051
      pos 2101
      pos 2230
      pos 2243
      pos 2300
      pos 2402
      pos 2504
      pos 2523
      pos 2590
      pos 2616
      pos 2640
  term include
    doc 0
      freq 1
      pos 309
  term includes:
    doc 0
      freq 1
      pos 1159
  term including
    doc 0
      freq 1
      pos 2000
  term inclusive
    doc 0
      freq 1
      pos 1107
  term incorrect
    doc 0
      freq 1
      pos 2320
  term increase
    doc 0
      freq 1
      pos 1891
  term indicates
    doc 0
      freq 1
      pos 2009
  term induce
    doc 0
      freq 1
      pos 2384
  term inferred
    doc 0
      freq 1
      pos 1936
  term inform
    doc 0
      freq 1
      pos 2378
  term information
    doc 0
      freq 3
      pos 190
      pos 2159
      pos 2375
  term information,
    doc 0
      freq 1
      pos 2128
  term ingress
    doc 0
      freq 1
      pos 1805
  term insert
    doc 0
      freq 1
      pos 975
  term instance.
    doc 0
      freq 1
      pos 1336
  term instance.)
    doc 0
      freq 1
      pos 1511
  term instantiate
    doc 0
      freq 1
      pos 2353
  term inter-AS
    doc 0
      freq 1
      pos 2126
  term interface
    doc 0
      freq 1
      pos 1596
  term interface,
    doc 0
      freq 1
      pos 1806
  term interface.)
    doc 0
      freq 1
      pos 1763
  term interfaces
    doc 0
      freq 1
      pos 1328
  term interoperability
    doc 0
      freq 1
      pos 1569
  term interpretation
    doc 0
      freq 1
      pos 1970
  term interpreted
    doc 0
      freq 1
      pos 1259
  term is
    doc 0
      freq 37
      pos 124
      pos 137
      pos 145
      pos 153
      pos 194
      pos 259
      pos 734
      pos 779
      pos 800
      pos 896
      pos 930
      pos 968
      pos 1033
      pos 1075
      pos 1097
      pos 1116
      pos 1134
      pos 1141
      pos 1206
      pos 1287
      pos 1316
      pos 1514
      pos 1521
      pos 1579
      pos 1766
      pos 1791
      pos 1808
      pos 1841
      pos 1864
      pos 1895
      pos 1926
      pos 1965
      pos 1977
      pos 2238
      pos 2298
      pos 2330
      pos 2346
  term is,
    doc 0
      freq 1
      pos 1871
  term issue.
    doc 0
      freq 1
      pos 1570
  term it
    doc 0
      freq 9
      pos 104
      pos 218
      pos 733
      pos 825
      pos 984
      pos 1032
      pos 1807
      pos 1894
      pos 1932
  term itself
    doc 0
      freq 1
      pos 1074
  term jefftant.ietf@gmail.com
    doc 0
      freq 1
      pos 2732
  term just
    doc 0
      freq 1
      pos 1905
  term key
    doc 0
      freq 1
      pos 1235
  term known
    doc 0
      freq 1
      pos 954
  term label
    doc 0
      freq 7
      pos 1089
      pos 1152
      pos 1163
      pos 1169
      pos 1174
      pos 1184
      pos 1798
  term labels
    doc 0
      freq 7
      pos 1102
      pos 1148
      pos 1181
      pos 1204
      pos 1214
      pos 1222
      pos 1995
  term labels,
    doc 0
      freq 1
      pos 1047
  term labels.
    doc 0
      freq 2
      pos 1111
      pos 2003
  term lack
    doc 0
      freq 3
      pos 1474
      pos 1738
      pos 1953
  term larger
    doc 0
      freq 1
      pos 2347
  term learn
    doc 0
      freq 1
      pos 739
  term learned
    doc 0
      freq 1
      pos 1341
  term learning
    doc 0
      freq 1
      pos 830
  term length
    doc 0
      freq 2
      pos 1407
      pos 1671
  term like
    doc 0
      freq 1
      pos 2695
  term link
    doc 0
      freq 6
      pos 67
      pos 1010
      pos 1127
      pos 1503
      pos 1757
      pos 1780
  term link.
    doc 0
      freq 2
      pos 1600
      pos 1887
  term links
    doc 0
      freq 1
      pos 923
  term links.
    doc 0
      freq 1
      pos 836
  term lowest
    doc 0
      freq 1
      pos 1498
  term maximum
    doc 0
      freq 1
      pos 1088
  term may
    doc 0
      freq 11
      pos 131
      pos 219
      pos 1339
      pos 1347
      pos 1550
      pos 1603
      pos 1611
      pos 2323
      pos 2336
      pos 2369
      pos 2376
  term meaning
    doc 0
      freq 1
      pos 1911
  term meaningfully
    doc 0
      freq 1
      pos 1812
  term might
    doc 0
      freq 1
      pos 1956
  term modifying
    doc 0
      freq 1
      pos 1145
  term more
    doc 0
      freq 4
      pos 1003
      pos 1179
      pos 1418
      pos 1682
  term multiple
    doc 0
      freq 3
      pos 56
      pos 1529
      pos 1769
  term must
    doc 0
      freq 1
      pos 308
  term necessarily
    doc 0
      freq 1
      pos 907
  term negative
    doc 0
      freq 1
      pos 2325
  term network
    doc 0
      freq 2
      pos 122
      pos 926
  term network,
    doc 0
      freq 1
      pos 1084
  term network.
    doc 0
      freq 2
      pos 91
      pos 948
  term new
    doc 0
      freq 4
      pos 1036
      pos 1173
      pos 1180
      pos 2048
  term no
    doc 0
      freq 1
      pos 827
  term node
    doc 0
      freq 8
      pos 65
      pos 778
      pos 1008
      pos 1124
      pos 1323
      pos 1940
      pos 2014
      pos 2364
  term node,
    doc 0
      freq 1
      pos 815
  term node.
    doc 0
      freq 2
      pos 1130
      pos 1492
  term node/link
    doc 0
      freq 1
      pos 751
  term nodes
    doc 0
      freq 4
      pos 834
      pos 877
      pos 903
      pos 921
  term nodes.
    doc 0
      freq 1
      pos 990
  term non-SR
    doc 0
      freq 1
      pos 1082
  term not
    doc 0
      freq 11
      pos 138
      pos 771
      pos 801
      pos 820
      pos 906
      pos 1076
      pos 1809
      pos 1865
      pos 1942
      pos 1966
      pos 2016
  term not,
    doc 0
      freq 1
      pos 1565
  term number
    doc 0
      freq 10
      pos 774
      pos 901
      pos 1099
      pos 1118
      pos 1202
      pos 1212
      pos 1220
      pos 1462
      pos 1726
      pos 1992
  term number.
    doc 0
      freq 1
      pos 2250
  term obtained
    doc 0
      freq 1
      pos 221
  term occur.
    doc 0
      freq 1
      pos 2370
  term octets);
    doc 0
      freq 2
      pos 1403
      pos 1667
  term of
    doc 0
      freq 71
      pos 58
      pos 98
      pos 141
      pos 156
      pos 167
      pos 199
      pos 207
      pos 280
      pos 282
      pos 319
      pos 337
      pos 752
      pos 766
      pos 775
      pos 781
      pos 807
      pos 829
      pos 833
      pos 854
      pos 875
      pos 902
      pos 951
      pos 1005
      pos 1100
      pos 1108
      pos 1119
      pos 1144
      pos 1167
      pos 1203
      pos 1210
      pos 1213
      pos 1221
      pos 1292
      pos 1305
      pos 1327
      pos 1401
      pos 1408
      pos 1415
      pos 1420
      pos 1441
      pos 1466
      pos 1475
      pos 1482
      pos 1490
      pos 1518
      pos 1594
      pos 1665
      pos 1672
      pos 1679
      pos 1684
      pos 1705
      pos 1730
      pos 1739
      pos 1746
      pos 1754
      pos 1803
      pos 1849
      pos 1912
      pos 1915
      pos 1945
      pos 1954
      pos 1993
      pos 2006
      pos 2019
      pos 2054
      pos 2318
      pos 2373
      pos 2381
      pos 2386
      pos 2519
      pos 2660
  term of:
    doc 0
      freq 1
      pos 2167
  term on
    doc 0
      freq 8
      pos 117
      pos 191
      pos 217
      pos 277
      pos 804
      pos 898
      pos 1128
      pos 1324
  term one
    doc 0
      freq 5
      pos 96
      pos 1001
      pos 1177
      pos 1416
      pos 1680
  term only
    doc 0
      freq 5
      pos 94
      pos 1269
      pos 1820
      pos 1934
      pos 2010
  term onto
    doc 0
      freq 1
      pos 1182
  term optional.
    doc 0
      freq 2
      pos 1515
      pos 1767
  term or
    doc 0
      freq 9
      pos 811
      pos 1002
      pos 1055
      pos 1125
      pos 1178
      pos 1346
      pos 1417
      pos 1610
      pos 1681
  term order
    doc 0
      freq 2
      pos 912
      pos 1889
  term originated
    doc 0
      freq 1
      pos 1537
  term originating
    doc 0
      freq 1
      pos 1308
  term other
    doc 0
      freq 3
      pos 111
      pos 1486
      pos 1750
  term outgoing
    doc 0
      freq 2
      pos 1151
      pos 1762
  term over
    doc 0
      freq 1
      pos 1856
  term packet.
    doc 0
      freq 1
      pos 1157
  term pairs
    doc 0
      freq 2
      pos 1419
      pos 1683
  term part
    doc 0
      freq 1
      pos 2166
  term participate
    doc 0
      freq 1
      pos 821
  term particular
    doc 0
      freq 2
      pos 80
      pos 1756
  term path
    doc 0
      freq 3
      pos 769
      pos 2334
      pos 2355
  term path.
    doc 0
      freq 2
      pos 756
      pos 2342
  term paths
    doc 0
      freq 1
      pos 726
  term people
    doc 0
      freq 1
      pos 2716
  term per-link
    doc 0
      freq 1
      pos 1814
  term performing
    doc 0
      freq 1
      pos 2365
  term performs
    doc 0
      freq 1
      pos 1797
  term persons
    doc 0
      freq 1
      pos 248
  term plane
    doc 0
      freq 2
      pos 1061
      pos 1609
  term possible
    doc 0
      freq 1
      pos 1810
  term ppsenak@cisco.com
    doc 0
      freq 1
      pos 2724
  term precedence
    doc 0
      freq 1
      pos 1855
  term presence
    doc 0
      freq 1
      pos 2372
  term present
    doc 0
      freq 1
      pos 1842
  term procedure
    doc 0
      freq 2
      pos 1784
      pos 2237
  term procedures
    doc 0
      freq 2
      pos 1543
      pos 1549
  term product
    doc 0
      freq 1
      pos 155
  term proposed
    doc 0
      freq 2
      pos 2050
      pos 2229
  term provide
    doc 0
      freq 1
      pos 215
  term provided
    doc 0
      freq 1
      pos 326
  term provisioned
    doc 0
      freq 1
      pos 1302
  term provisioned.
    doc 0
      freq 2
      pos 1349
      pos 1613
  term public
    doc 0
      freq 1
      pos 174
  term publication
    doc 0
      freq 2
      pos 181
      pos 281
  term pushed.
    doc 0
      freq 1
      pos 1225
  term pushing
    doc 0
      freq 1
      pos 1176
  term range
    doc 0
      freq 2
      pos 1465
      pos 1729
  term reachability
    doc 0
      freq 1
      pos 2127
  term reachability,
    doc 0
      freq 1
      pos 2118
  term read
    doc 0
      freq 1
      pos 987
  term received
    doc 0
      freq 1
      pos 173
  term received,
    doc 0
      freq 1
      pos 1782
  term recirculation,
    doc 0
      freq 1
      pos 1054
  term registration
    doc 0
      freq 1
      pos 2236
  term registry
    doc 0
      freq 6
      pos 1017
      pos 1434
      pos 1698
      pos 2067
      pos 2213
      pos 2224
  term registry.
    doc 0
      freq 1
      pos 2136
  term relevant,
    doc 0
      freq 1
      pos 931
  term replaced
    doc 0
      freq 1
      pos 1217
  term replacing
    doc 0
      freq 1
      pos 1161
  term represent
    doc 0
      freq 1
      pos 1496
  term represents
    doc 0
      freq 7
      pos 164
      pos 1404
      pos 1472
      pos 1488
      pos 1668
      pos 1736
      pos 1752
  term reserved.
    doc 0
      freq 1
      pos 256
  term respect
    doc 0
      freq 1
      pos 298
  term restrictions
    doc 0
      freq 1
      pos 296
  term result
    doc 0
      freq 1
      pos 1551
  term review
    doc 0
      freq 2
      pos 175
      pos 286
  term reviews
    doc 0
      freq 1
      pos 2709
  term rights
    doc 0
      freq 2
      pos 255
      pos 294
  term router
    doc 0
      freq 4
      pos 53
      pos 945
      pos 1307
      pos 1796
  term router,
    doc 0
      freq 1
      pos 1541
  term routers
    doc 0
      freq 1
      pos 1898
  term routing,
    doc 0
      freq 1
      pos 824
  term same
    doc 0
      freq 4
      pos 1535
      pos 1540
      pos 1775
      pos 1779
  term scope
    doc 0
      freq 1
      pos 1517
  term section
    doc 0
      freq 2
      pos 1440
      pos 1704
  term select
    doc 0
      freq 1
      pos 1786
  term service/transport/special
    doc 0
      freq 2
      pos 1110
      pos 2002
  term set
    doc 0
      freq 1
      pos 1326
  term shown
    doc 0
      freq 1
      pos 1277
  term signal
    doc 0
      freq 3
      pos 787
      pos 916
      pos 1042
  term signaled
    doc 0
      freq 1
      pos 1605
  term signaled,
    doc 0
      freq 1
      pos 1866
  term signaling
    doc 0
      freq 1
      pos 886
  term signals
    doc 0
      freq 1
      pos 1989
  term small
    doc 0
      freq 1
      pos 900
  term smaller
    doc 0
      freq 1
      pos 2331
  term smallest
    doc 0
      freq 1
      pos 1318
  term some
    doc 0
      freq 1
      pos 1949
  term specific
    doc 0
      freq 2
      pos 1522
      pos 1927
  term specified
    doc 0
      freq 2
      pos 1973
      pos 2308
  term stack
    doc 0
      freq 7
      pos 84
      pos 764
      pos 1153
      pos 1170
      pos 1185
      pos 1481
      pos 1745
  term status
    doc 0
      freq 1
      pos 206
  term sub-TLV
    doc 0
      freq 8
      pos 1286
      pos 1513
      pos 1578
      pos 1765
      pos 2044
      pos 2049
      pos 2097
      pos 2163
  term subject
    doc 0
      freq 1
      pos 260
  term such
    doc 0
      freq 2
      pos 1062
      pos 1817
  term sum
    doc 0
      freq 1
      pos 1209
  term support
    doc 0
      freq 5
      pos 110
      pos 1478
      pos 1742
      pos 1943
      pos 2017
  term supported
    doc 0
      freq 6
      pos 59
      pos 87
      pos 1121
      pos 1320
      pos 1500
      pos 2359
  term supported,
    doc 0
      freq 2
      pos 2333
      pos 2349
  term supported.
    doc 0
      freq 1
      pos 1967
  term supported/
    doc 0
      freq 1
      pos 802
  term take
    doc 0
      freq 1
      pos 1854
  term text
    doc 0
      freq 1
      pos 313
  term than
    doc 0
      freq 2
      pos 2332
      pos 2348
  term thank
    doc 0
      freq 1
      pos 2697
  term that
    doc 0
      freq 22
      pos 108
      pos 123
      pos 736
      pos 745
      pos 759
      pos 879
      pos 904
      pos 1035
      pos 1049
      pos 1103
      pos 1215
      pos 1223
      pos 1489
      pos 1753
      pos 1886
      pos 1897
      pos 1937
      pos 1946
      pos 1958
      pos 1996
      pos 2011
      pos 2356
  term the
    doc 0
      freq 107
      pos 157
      pos 165
      pos 168
      pos 183
      pos 204
      pos 247
      pos 251
      pos 265
      pos 278
      pos 320
      pos 332
      pos 737
      pos 740
      pos 760
      pos 773
      pos 777
      pos 790
      pos 805
      pos 817
      pos 831
      pos 876
      pos 920
      pos 925
      pos 947
      pos 1024
      pos 1030
      pos 1087
      pos 1098
      pos 1117
      pos 1142
      pos 1150
      pos 1162
      pos 1165
      pos 1168
      pos 1183
      pos 1208
      pos 1211
      pos 1219
      pos 1290
      pos 1293
      pos 1301
      pos 1306
      pos 1309
      pos 1317
      pos 1322
      pos 1325
      pos 1333
      pos 1405
      pos 1409
      pos 1431
      pos 1437
      pos 1464
      pos 1473
      pos 1491
      pos 1497
      pos 1508
      pos 1519
      pos 1524
      pos 1534
      pos 1539
      pos 1542
      pos 1592
      pos 1595
      pos 1599
      pos 1607
      pos 1669
      pos 1673
      pos 1695
      pos 1701
      pos 1728
      pos 1737
      pos 1755
      pos 1774
      pos 1778
      pos 1783
      pos 1794
      pos 1801
      pos 1804
      pos 1821
      pos 1847
      pos 1850
      pos 1857
      pos 1868
      pos 1873
      pos 1882
      pos 1906
      pos 1913
      pos 1929
      pos 1938
      pos 1952
      pos 1959
      pos 1963
      pos 1990
      pos 2012
      pos 2047
      pos 2058
      pos 2075
      pos 2105
      pos 2140
      pos 2218
      pos 2295
      pos 2328
      pos 2344
      pos 2361
      pos 2366
      pos 2387
      pos 2456
  term their
    doc 0
      freq 1
      pos 2708
  term then
    doc 0
      freq 2
      pos 1207
      pos 1872
  term there
    doc 0
      freq 1
      pos 1527
  term these
    doc 0
      freq 1
      pos 287
  term they
    doc 0
      freq 2
      pos 291
      pos 1271
  term this
    doc 0
      freq 13
      pos 208
      pos 283
      pos 300
      pos 306
      pos 1254
      pos 1442
      pos 1706
      pos 2020
      pos 2055
      pos 2257
      pos 2314
      pos 2374
      pos 2719
  term through
    doc 0
      freq 1
      pos 1053
  term titled
    doc 0
      freq 1
      pos 2214
  term to
    doc 0
      freq 39
      pos 49
      pos 54
      pos 76
      pos 214
      pos 261
      pos 271
      pos 299
      pos 786
      pos 867
      pos 881
      pos 915
      pos 941
      pos 955
      pos 974
      pos 996
      pos 999
      pos 1041
      pos 1149
      pos 1257
      pos 1299
      pos 1477
      pos 1523
      pos 1590
      pos 1741
      pos 1785
      pos 1789
      pos 1811
      pos 1880
      pos 1890
      pos 1928
      pos 2225
      pos 2313
      pos 2338
      pos 2352
      pos 2383
      pos 2404
      pos 2455
      pos 2696
      pos 2718
  term top
    doc 0
      freq 1
      pos 1166
  term topology
    doc 0
      freq 2
      pos 869
      pos 880
  term total
    doc 0
      freq 3
      pos 1406
      pos 1670
      pos 1991
  term transit
    doc 0
      freq 1
      pos 989
  term tunnel
    doc 0
      freq 1
      pos 810
  term type
    doc 0
      freq 3
      pos 97
      pos 2045
      pos 2098
  term types
    doc 0
      freq 3
      pos 57
      pos 950
      pos 1004
  term types.
    doc 0
      freq 1
      pos 113
  term uma.chunduri@huawei.com
    doc 0
      freq 1
      pos 2738
  term undefined.
    doc 0
      freq 1
      pos 1792
  term under
    doc 0
      freq 1
      pos 2217
  term unsigned
    doc 0
      freq 1
      pos 2248
  term use
    doc 0
      freq 5
      pos 119
      pos 1331
      pos 1506
      pos 1790
      pos 2401
  term used
    doc 0
      freq 3
      pos 969
      pos 998
      pos 1759
  term used,
    doc 0
      freq 1
      pos 1557
  term useful
    doc 0
      freq 2
      pos 134
      pos 1069
  term useful.
    doc 0
      freq 1
      pos 957
  term using
    doc 0
      freq 1
      pos 2610
  term valuable
    doc 0
      freq 1
      pos 2711
  term value
    doc 0
      freq 12
      pos 1428
      pos 1487
      pos 1494
      pos 1499
      pos 1692
      pos 1751
      pos 1848
      pos 1876
      pos 1884
      pos 2322
      pos 2329
      pos 2345
  term value.
    doc 0
      freq 1
      pos 1909
  term value:
    doc 0
      freq 2
      pos 2077
      pos 2142
  term values
    doc 0
      freq 5
      pos 1338
      pos 1555
      pos 1602
      pos 1903
      pos 2253
  term values.
    doc 0
      freq 1
      pos 1815
  term variable
    doc 0
      freq 2
      pos 1399
      pos 1663
  term via
    doc 0
      freq 1
      pos 1342
  term viable
    doc 0
      freq 1
      pos 2341
  term vs
    doc 0
      freq 1
      pos 2521
  term warranty
    doc 0
      freq 1
      pos 328
  term way
    doc 0
      freq 3
      pos 44
      pos 828
      pos 866
  term when
    doc 0
      freq 3
      pos 135
      pos 1758
      pos 1974
  term when,
    doc 0
      freq 2
      pos 1267
      pos 1270
  term where
    doc 0
      freq 2
      pos 983
      pos 2160
  term whether
    doc 0
      freq 1
      pos 78
  term which
    doc 0
      freq 3
      pos 928
      pos 967
      pos 1787
  term will
    doc 0
      freq 1
      pos 1038
  term with
    doc 0
      freq 7
      pos 297
      pos 1058
      pos 1155
      pos 1171
      pos 1598
      pos 1899
      pos 1962
  term within
    doc 0
      freq 1
      pos 1289
  term without
    doc 0
      freq 1
      pos 327
  term words
    doc 0
      freq 2
      pos 1236
      pos 2399
  term would
    doc 0
      freq 1
      pos 2694
  term y
    doc 0
      freq 6
      pos 2177
      pos 2178
      pos 2179
      pos 2180
      pos 2181
      pos 2182
  term your
    doc 0
      freq 1
      pos 293
  term |
    doc 0
      freq 18
      pos 1369
      pos 1371
      pos 1373
      pos 1375
      pos 1377
      pos 1379
      pos 1385
      pos 1387
      pos 1389
      pos 1633
      pos 1635
      pos 1637
      pos 1639
      pos 1641
      pos 1643
      pos 1649
      pos 1651
      pos 1653
field name
  term rfc8491
    doc 0
      freq 1
      pos 0
  term txt
    doc 0
      freq 1
      pos 1
END
checksum 00000000000353345097
table of contents, size: 4
  filename: _ui.fld
    start: 23
    end: 21011
  filename: _ui.inf
    start: 21034
    end: 21810
  filename: _ui.len
    start: 21833
    end: 21981
  filename: _ui.pst
    start: 22004
    end: 95988
table of contents begins at offset: 0000000000000095988
